.modal-backdrop {
    -webkit-backdrop-filter: blur(80px); /* Pour Safari */
    backdrop-filter: blur(80px); /* Pour les navigateurs modernes */
    background-color: rgba(0, 0, 0, 0.5); /* Fallback pour plus de compatibilité */
}

.card-video {
    width: 100%;
    height: auto;
}

::selection {
    background-color: hsl(355, 59%, 57%);
    /* Couleur de fond de la sélection */
}

.modal-image button {
    z-index: 2; /* Assure que le bouton est au-dessus de l'image */
    bottom: 20px; /* Ajuste la position du bouton */
}

/* Section Texte */
.modal-body {
    padding: 20px;
    max-height: 250px; /* Limite la hauteur du texte pour laisser de l'espace à l'image */
    overflow-y: auto;
}

/* Scrollbar pour le contenu texte */
.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.modal-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* L'image remplira tout l'espace en recadrant si nécessaire */
}  

/* Responsive pour les écrans plus petits */
@media (max-width: 768px) {
    .modal-image {
        height: 200px; /* Réduit la hauteur de l'image pour les petits écrans */
    }

    .modal-body {
        max-height: none; /* Désactive la hauteur maximale pour les petits écrans */
    }
}

/* close button */
.custom-close-button {
    background-color: hsla(var(--flq-color-background)); 
    color: white;
    border: none; 
    border-radius: 50%; 
    width: 30px;
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; 
    cursor: pointer;
    top: 10px; 
    right: 15px; 
    z-index: 3; 
}

.custom-close-button i {
    font-size: 1.2rem; /* Taille de l'icône */
}

.custom-close-button:hover {
    background-color: hsla(var(--flq-color-background)); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 50%;
    transform: scale(1.1); 
}


/* play button */
.custom-play-button {
    background-color: hsla(var(--flq-color-background)); /* Couleur de fond sombre */
    color: white; /* Texte et icône en blanc */
    border: none;
    border-radius: 30px; /* Coins arrondis */
    padding: 0.8rem 1.5rem; /* Espacement autour du texte, en rem pour plus de flexibilité */
    font-size: 1rem; /* Taille du texte */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%; /* Largeur du bouton en pourcentage pour une meilleure adaptabilité */
    transform: translateX(-50%); /* Centrage horizontal */
    bottom: 10px;
    left: 50%;
    transition: all 0.3s ease; /* Animation douce au survol */
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre discrète */
}

/* Style de l'icône */
.custom-play-button i {
    margin-left: 8px; /* Espacement entre le texte et l'icône */
    font-size: 1.2rem; /* Taille de l'icône */
}

/* Effet au survol */
.custom-play-button:hover {
    background-color: hsl(355, 59%, 57%); /* Changer la couleur de fond au survol */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Ombre plus marquée */
    transform: translateX(-50%) scale(1.05); /* Légère augmentation du bouton au survol */
}

/* Media query pour ajuster la taille du bouton sur les petits écrans */
@media (max-width: 1024px) {
    .custom-play-button {
        width: 60%; /* Largeur plus grande sur les petits écrans */
        font-size: 1rem; /* Réduire la taille du texte sur petits écrans */
        padding: 0.7rem 1.2rem; /* Ajuster le padding pour une taille plus adaptée */
    }

    .custom-play-button i {
        font-size: 1.1rem; /* Réduire légèrement la taille de l'icône */
    }
}


/* Media query pour ajuster la taille du bouton sur les petits écrans */
@media (max-width: 768px) {
    .custom-play-button {
        width: 60%; /* Largeur plus grande sur les petits écrans */
        font-size: 1rem; /* Réduire la taille du texte sur petits écrans */
        padding: 0.7rem 1.2rem; /* Ajuster le padding pour une taille plus adaptée */
    }

    .custom-play-button i {
        font-size: 1.1rem; /* Réduire légèrement la taille de l'icône */
    }
}

/* Media query pour les très petits écrans (smartphones) */
@media (max-width: 480px) {
    .custom-play-button {
        width:60%; /* Largeur presque pleine sur les très petits écrans */
        font-size: 0.9rem; /* Réduire encore la taille du texte */
        padding: 0.6rem 1rem; /* Réduire le padding */
    }

    .custom-play-button i {
        font-size: 1rem; /* Réduire la taille de l'icône */
    }
}
