{% extends 'base.html' %}

{% block title %}
  Avis &amp; Commentaires - Sehatra.com
{% endblock %}

{% load static %}

{% block content %}
  <div class="content-wrap">
    <div class="container pt-5 pb-7">
      <div class="row gy-6 gx-6">
        <div class="col-12 col-xl order-5">
          <div class="row gx-0 gy-4" data-sr="account-review" data-sr-delay="300" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
            <div class="col-12" data-sr-item="account-review">
              <div class="flq-account-comment flq-vertical-rhythm">
                <div class="flq-media mb-0">
                  <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}# {% endif %}" class="flq-media-image">
                    <span class="flq-image"><img src="{% static 'assets/images/blog/post-1-120x120.jpg' %}" alt="" />
                    </span>
                  </a>
                  <div class="flq-media-meta">
                    <h5 class="flq-media-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}# {% endif %}">
                      {{data.title}}
                    </a>
                  </h5>
                    <div class="flq-meta">
                      <ul>
                        <li>{{data.date}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p>{{data.detail}}</p>
                <hr class="my-0" />
                <div>
                  <div class="flq-rating" style="--flq-rating--width: 0%;">
                    <span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <p>
                    <strong>{{data.date}}</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-auto">
          <div class="flq-sidebar flq-sidebar-lg">
            <div class="flq-account-navbar">
              <nav>
                <ul class="nav nav-dots flex-column gy-3">
                  <li class="nav-item">
                    <a href="{% url 'profile_account' %}" class="nav-link"><span class="nav-link-name">Profil</span></a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'favorite' %}" class="nav-link"><span class="nav-link-name">Favoris</span></a>
                  </li>
                  <li class="nav-item active">
                    <a href="{% url 'reviews' %}" class="nav-link"><span class="nav-link-name">Avis &amp; Commentaires</span></a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'edit_account' %}" class="nav-link"><span class="nav-link-name">Modifier mon compte</span></a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'notification' %}" class="nav-link"><span class="nav-link-name">Notifications</span></a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link"><span class="nav-link-name">Se déconnecter</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
