{% extends 'base.html' %}

{% block title %}
  Vidéo Sehatra.com - Plateforme de vidéo Vita Malagasy
{% endblock %}

{% load static %}

{% block content %}
  <div class="flq-background py-7">
    <div class="flq-background-ticker">
      <div class="flq-image-ticker mb-3" data-gap="20" data-pixels-per-second="20">
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
      <div class="flq-image-ticker" data-gap="20" data-pixels-per-second="20" data-inverted>
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.8)"></div>
    <div class="container text-center" data-sr="banner-text" data-sr-interval="100" data-sr-distance="10" data-sr-duration="1000">
      <h1class="display-6 display-md-5 display-lg-4 mb-1" data-sr-item="banner-text">Artistes Présents Sur SEHATRA</h1>
      <nav aria-label="breadcrumb" data-sr-item="banner-text">
        <ol class="breadcrumb flq-color-opacity">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Accueil</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Artistes</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-wrap">
    <div class="py-7">
      <div class="container flq-isotope" data-sr="tvshow-item" data-sr-interval="80" data-sr-duration="1000" data-sr-distance="10">
        <div class="card-title h5 mb-2" data-sr-item="new-releases">
          <p class="fs-6 fs-md-5 fs-lg-4">Ces artistes ont choisi de collaborer avec SEHATRA.COM pour la production et/ou 
            la diffusion de leur oeuvre pour rester en contact avec leurs fans dans le monde entier.
          </p>
        </div>        
        <div class="mb-4 mt-4" data-sr-item="new-releases">
          <button class="btn btn-outline btn-white" data-bs-toggle="modal" data-bs-target="#inscriptionModal">Inscrivez votre groupe</button>
          <!-- Modal -->
          <div class="modal fade" id="inscriptionModal" tabindex="-1" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="inscriptionModalLabel">Formulaire Artiste</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Nous vous remercions de votre intérêt pour collaborer avec SEHATRA.COM. 
                    Veuillez remplir le formulaire ci-dessous avec les informations sur votre groupe.</p>
                  <form>
                    <fieldset>
                      <legend>Vous</legend>
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <input type="text" class="form-control required-field" id="nom" placeholder="Nom *" required />
                        </div>
                        <div class="col-md-6 mb-3">
                          <input type="text" class="form-control required-field" id="prenom" placeholder="Prénom" required />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <input type="tel" class="form-control" id="telephone" placeholder="Numéro téléphone" />
                        </div>
                        <div class="col-md-6 mb-3">
                          <input type="email" class="form-control required-field" id="emailYou" placeholder="E-mail *" required />
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <legend>Votre groupe</legend>
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <input type="text" class="form-control required-field" id="nomGroupe" placeholder="Nom du groupe *" required />
                        </div>
                        <div class="col-md-6 mb-3">
                          <input type="email" class="form-control required-field" id="emailGroupe" placeholder="E-mail *" required />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <textarea class="form-control required-field" id="presentation" rows="3" placeholder="Présentez votre groupe en quelques phrases *" required></textarea>
                        </div>
                      </div>
                    </fieldset>
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary">
                        Envoyer<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                          </g>
                        </svg>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center gy-4 mb-5">
          <div class="col-12 col-md">
            <nav>
              <ul class="nav nav-tabs flq-isotope-options" data-sr="tvshow-options" data-sr-interval="80" data-sr-duration="1000" data-sr-distance="10">
                <li class="nav-item" data-sr-item="tvshow-options">
                  <a href="#" data-filter="all" class="nav-link active"><span class="nav-link-name">Tout</span></a>
                </li>
                <li class="nav-item" data-sr-item="tvshow-options">
                  <a href="#" data-filter="romance" class="nav-link"><span class="nav-link-name">{Genre}</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row gy-5 justify-content-center flq-isotope-grid">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 flq-isotope-item" data-filters="romance">
            <div data-sr-item="tvshow-item">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% url 'single_artiste' %}">
                    <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-1-390x440.jpg' %}" alt="concert-live" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">7.2</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title h6"><a href="{% url 'single_artiste' %}">{Exemple titre}</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="#" class="card-year">{Date}</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">{Genre}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 flq-isotope-item" data-filters="horror">
            <div data-sr-item="tvshow-item">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% url 'single_artiste' %}">
                    <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-2-390x440.jpg' %}" alt="" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">6.9</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title h6"><a href="{% url 'single_artiste' %}">{Exemple titre 2}</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="#" class="card-year">{Date}</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">{Genre}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5" data-sr-item="tvshow-item">
          <button class="btn btn-outline btn-white">Voir plus</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
