{% extends 'base.html' %}

{% block title %}
  Vidéo Sehatra.com - Plateforme de vidéo Vita Malagasy
{% endblock %}

{% load static %}

{% block content %}
  <div class="flq-background py-7">
    <div class="flq-background-ticker">
      <div class="flq-image-ticker mb-3" data-gap="20" data-pixels-per-second="20">
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
      <div class="flq-image-ticker" data-gap="20" data-pixels-per-second="20" data-inverted>
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.8)"></div>
    <div class="container text-center" data-sr="banner-text" data-sr-interval="100" data-sr-distance="10" data-sr-duration="1000">
      <h1 class="display-5 mb-1" data-sr-item="banner-text">Artistes présents sur SEHATRA</h1>
      <nav aria-label="breadcrumb" data-sr-item="banner-text">
        <ol class="breadcrumb flq-color-opacity">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Accueil</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Artistes</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-wrap">
    <div class="py-7">
      <div class="container flq-isotope" data-sr="tvshow-item" data-sr-interval="80" data-sr-duration="1000" data-sr-distance="10">
        <div class="row align-items-center gy-4 mb-5">
          <div class="col-12 col-md">
            <nav>
              <ul class="nav nav-tabs flq-isotope-options" data-sr="tvshow-options" data-sr-interval="80" data-sr-duration="1000" data-sr-distance="10">
                <li class="nav-item" data-sr-item="tvshow-options">
                  <a href="#" data-filter="all" class="nav-link active"><span class="nav-link-name">Tout</span></a>
                </li>
                <li class="nav-item" data-sr-item="tvshow-options">
                  <a href="#" data-filter="romance" class="nav-link"><span class="nav-link-name">{Genre}</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row gy-5 justify-content-center flq-isotope-grid">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 flq-isotope-item" data-filters="romance">
            <div data-sr-item="tvshow-item">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% url 'single_artiste' %}">
                    <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-1-390x440.jpg' %}" alt="concert-live" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">7.2</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title h6"><a href="{% url 'single_artiste' %}">{Exemple titre}</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="#" class="card-year">{Date}</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">{Genre}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 flq-isotope-item" data-filters="horror">
            <div data-sr-item="tvshow-item">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% url 'single_artiste' %}">
                    <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-2-390x440.jpg' %}" alt="" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">6.9</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title h6"><a href="{% url 'single_artiste' %}">{Exemple titre 2}</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="#" class="card-year">{Date}</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">{Genre}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5" data-sr-item="tvshow-item">
          <button class="btn btn-outline btn-white">Voir plus</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
