<!DOCTYPE html>
<html lang="fr">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {% block title %}
      Live Streaming Malagasy - Film Gasy - Concerts - Sehatra.com
      {% endblock %}
    </title>
    <meta name="description" content="Sehatra.com - Concert en ligne, film gasy, et bien d'autres contenues sur Madagascar" />
    <meta name="keywords" content="live Streaming" />
    <meta name="author" content="SEHATRA.COM" />
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- START: Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" />
    <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fancybox/dist/jquery.fancybox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-custom.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fliqs.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <!-- Preloader -->
    <script src="{% static 'assets/js/preloader.min.js' %}"></script>
  </head>
  <body id="page" class="flq-navbar-icons-existence">
    <!-- navbar -->
    {% include 'navbar-top.html' %}
    <!-- navbar -->

    <main>
      {% block content %}
        <!-- Contenu par défaut ici -->
      {% endblock %}
    </main>

    <!-- Footer -->
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}
    <!-- /Footer -->

    <!-- START: Scripts -->
    <script src="{% static 'assets/vendor/object-fit-images/dist/ofi.min.js' %}"></script>
    <script src="{% static 'assets/vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/scrollreveal/dist/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/vendor/rellax/rellax.min.js' %}"></script>
    <script src="{% static 'assets/vendor/vanilla-tilt/dist/vanilla-tilt.min.js' %}"></script>
    <script src="{% static 'assets/vendor/animejs/lib/anime.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jarallax/dist/jarallax.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/vendor/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js' %}"></script>
    <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-validator/dist/validator.min.js' %}"></script>
    <script src="{% static 'assets/js/fliqs.min.js' %}"></script>
    <script src="{% static 'assets/js/fliqs.js' %}"></script>
    <script src="{% static 'assets/js/fliqs-init.js' %}"></script>
    <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
    <!-- END: Scripts -->
    <script>
      $(document).ready(function () {
        // Vérifie si les cookies ont déjà été acceptés
        if (!document.cookie.includes('cookies_accepted=true')) {
          // Affiche la modal si les cookies n'ont pas été acceptés
          $('#cookieModal').modal('show')
        }
      
        // Au clic du bouton "Accepter"
        $('#acceptCookies').click(function () {
          // Définit un cookie indiquant que l'utilisateur a accepté les cookies
          document.cookie = 'cookies_accepted=true; path=/; max-age=' + 60 * 60 * 24 * 30 // Expiration de 30 jours
          // Masque la modal
          $('#cookieModal').modal('hide')
        })
      })
    </script>
    <script>
      const player = fluidPlayer('my-video', {
        layoutControls: {
          controlBar: {
            autoHideTimeout: 3,
            animated: true,
            autoHide: true
          },
          htmlOnPauseBlock: {
            html: null,
            height: null,
            width: null
          },
          autoPlay: false,
          mute: false,
          allowTheatre: true,
          playPauseAnimation: false,
          playbackRateEnabled: false,
          allowDownload: false,
          playButtonShowing: true,
          fillToContainer: true,
          posterImage: ''
        },
        vastOptions: {
          adList: [],
          adCTAText: false,
          adCTATextPosition: ''
        }
      });
      let firstPlay = true;
      let currentTime = 0; // Variable to store the current time
      const videoElement = document.getElementById("my-video");
        

        // Listen for time updates
        videoElement.addEventListener('timeupdate', function() {
            currentTime = videoElement.currentTime.toFixed(0);  // Log the current time
        });

        // Listen for the play event
        player.on("play", function () {
        if (firstPlay) {
          const savedTime = getCookie("videoTime");

          if (savedTime && savedTime > 0) {
            // Show the modal if saved time is available
            $("#resumeModal").modal("show");

            // When user clicks to resume video
            document
              .getElementById("resumeVideo")
              .addEventListener("click", function () {
                player.skipTo(savedTime);
                $("#resumeModal").modal("hide");
              });

            // When user clicks to start from the beginning
            document
              .getElementById("startFresh")
              .addEventListener("click", function () {
                player.skipTo(0);
                console.log("Video started from the beginning");
                $("#resumeModal").modal("hide");
              });
          }
    
          // On click of "Accept" button
          $('#acceptCookies').click(function() {
              // Set a cookie indicating the user accepted the cookies
              document.cookie = "cookies_accepted=true; path=/; max-age=" + (60 * 60 * 24 * 30); // 30 days expiration
    
              // Hide the modal
              $('#cookieModal').modal('hide');
          });
        }
        firstPlay = false;
      });
      // Save the current time in cookies when the video is paused
      player.on("pause", function () {
        setCookie("videoTime", currentTime, 1); // Use the stored current time
        console.log("Cookie set to: " + currentTime); // Log for debugging
      });

      // Save time on page unload as well
      window.addEventListener("beforeunload", function () {
        setCookie("videoTime", currentTime, 1);
      });

      // Cookie helper functions
      function setCookie(name, value, days) {
        const expires = new Date(Date.now() + days * 864e5).toUTCString();
        document.cookie =
          name +
          "=" +
          encodeURIComponent(value) +
          "; expires=" +
          expires +
          "; path=/";
      }

      function getCookie(name) {
        return document.cookie.split("; ").reduce((r, v) => {
          const parts = v.split("=");
          return parts[0] === name ? decodeURIComponent(parts[1]) : r;
        }, "");
      }
    </script>
  </body>
</html>
