{% extends 'base.html' %}

{% block title %}
  Blogue | Sehatra.com
{% endblock %}

{% load static %}

{% block content %}
  <div class="flq-background py-7">
    <div class="flq-background-ticker">
      <div class="flq-image-ticker mb-3" data-gap="20" data-pixels-per-second="20">
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/1.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/2.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/3.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/4.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/5.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/6.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/7.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/8.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/9.jpg" alt="" /></span>
          </div>
        </div>
      </div>
      <div class="flq-image-ticker" data-gap="20" data-pixels-per-second="20" data-inverted>
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/10.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/11.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/12.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/13.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/14.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/15.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/16.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/17.jpg" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="assets/images/background-ticker/18.jpg" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.8)"></div>
    <div class="container text-center" data-sr="banner-text" data-sr-interval="100" data-sr-distance="10" data-sr-duration="1000">
      <h1 class="display-5 mb-1" data-sr-item="banner-text">Blog</h1>
      <nav aria-label="breadcrumb" data-sr-item="banner-text">
        <ol class="breadcrumb flq-color-opacity">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-wrap">
    <div class="container py-7">
      <div class="row gy-6 gx-6">
        <div class="col-12 col-xl">
          <div class="row gx-0 gy-6" data-sr="blog" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
            <div class="col-12" data-sr-item="blog">
              <div class="card flq-card-blog flq-card-blog-classic">
                <div class="card-img-wrap">
                  <a href="{% url 'single_post' %}"><span class="flq-image flq-responsive flq-responsive-sm-21x9"><img src="assets/images/blog/post-1-740x420.jpg" alt="" /></span></a>
                </div>
                <div class="card-body">
                  <span class="card-badge badge badge-dark flq-subtitle">Analysis</span>
                  <h2 class="card-title"><a href="{% url 'single_post' %}">Girlfriend. How and why</a></h2>
                  <div class="flq-meta">
                    <ul class="gx-4">
                      <li>
                        <a href="#">David H.</a>
                      </li>
                      <li>
                        <a href="#">November 20, 2021</a>
                      </li>
                      <li>
                        <a href="#">2 Comments</a>
                      </li>
                    </ul>
                  </div>
                  <p>Earth first saw earth which seas void i thing said bearing behold and can&#39;t unto. Blessed itself years. Also you. Bring brought won&#39;t rule spirit fruitful tree fifth from seasons one saw cattle have fruitful fifth...</p>
                </div>
                <a href="{% url 'single_post' %}" class="btn">Read More</a>
              </div>
            </div>
            <div class="col-12" data-sr-item="blog">
              <div class="card flq-card-blog flq-card-blog-classic">
                <div class="card-img-wrap">
                  <a href="{% url 'single_post' %}"><span class="flq-image flq-responsive flq-responsive-sm-21x9"><img src="assets/images/blog/post-2-740x420.jpg" alt="" /></span></a>
                </div>
                <div class="card-body">
                  <span class="card-badge badge badge-dark flq-subtitle">Lifestyle</span>
                  <h2 class="card-title"><a href="{% url 'single_post' %}">Years is air whose lesser. You&#39;ll thing waters unto brought.</a></h2>
                  <div class="flq-meta">
                    <ul class="gx-4">
                      <li>
                        <a href="#">David H.</a>
                      </li>
                      <li>
                        <a href="#">November 18, 2021</a>
                      </li>
                      <li>
                        <a href="#">2 Comments</a>
                      </li>
                    </ul>
                  </div>
                  <p>From said, our they&#39;re darkness void meat from, bearing. Void, beginning fruitful he were called moved is divide, lesser light green creature. Moving make don&#39;t midst deep, firmament us gathering give shall. Earth air...</p>
                </div>
                <a href="{% url 'single_post' %}" class="btn">Read More</a>
              </div>
            </div>
            <div class="col-12" data-sr-item="blog">
              <div class="card flq-card-blog flq-card-blog-classic">
                <div class="card-img-wrap">
                  <a href="{% url 'single_post' %}"><span class="flq-image flq-responsive flq-responsive-sm-21x9"><img src="assets/images/blog/post-3-740x420.jpg" alt="" /></span></a>
                </div>
                <div class="card-body">
                  <span class="card-badge badge badge-dark flq-subtitle">Category</span>
                  <h2 class="card-title"><a href="{% url 'single_post' %}">Is under void created his hath. One moving Appear hath.</a></h2>
                  <div class="flq-meta">
                    <ul class="gx-4">
                      <li>
                        <a href="#">David H.</a>
                      </li>
                      <li>
                        <a href="#">November 15, 2021</a>
                      </li>
                      <li>
                        <a href="#">2 Comments</a>
                      </li>
                    </ul>
                  </div>
                  <p>Spirit herb subdue second form lights green isn&#39;t a sixth had creepeth is night spirit appear above let. Greater divided him appear. May she&#39;d isn&#39;t from living their itself own hath replenish, likeness day. Be together...</p>
                </div>
                <a href="{% url 'single_post' %}" class="btn">Read More</a>
              </div>
            </div>
            <div class="col-12" data-sr-item="blog">
              <nav>
                <ul class="pagination">
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link page-link-next" href="#">
                      Next<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-auto">
          <div class="flq-sidebar flq-sidebar-lg">
            <div class="flq-widget flq-widget-search" data-sr data-sr-duration="1000" data-sr-distance="10">
              <h4 class="flq-widget-title h5"><span>Search</span></h4>
              <form action="#">
                <input class="form-control" type="search" placeholder="Search" />
                <button class="btn btn-link btn-icon-sm">
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.0833 17.4167C14.1334 17.4167 17.4167 14.1334 17.4167 10.0833C17.4167 6.03325 14.1334 2.75 10.0833 2.75C6.03325 2.75 2.75 6.03325 2.75 10.0833C2.75 14.1334 6.03325 17.4167 10.0833 17.4167Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.25 19.25L15.2625 15.2625" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </form>
            </div>
            <div class="flq-widget flq-widget-blog" data-sr data-sr-duration="1000" data-sr-distance="10">
              <h4 class="flq-widget-title h5"><span>Recent Posts</span></h4>
              <ul>
                <li>
                  <div class="card flq-card-blog">
                    <div class="card-img-wrap">
                      <a href="{% url 'single_post' %}">
                        <span class="flq-image flq-responsive"><img src="assets/images/blog/post-1-740x420.jpg" alt="" /></span>
                        <span class="card-badge badge badge-dark badge-glass">November 20, 2021</span>
                      </a>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title h5"><a href="{% url 'single_post' %}">Girlfriend. How and why</a></h5>
                      <p>Earth first saw earth which seas void i thing said bearing behold and can&#39;t unto. Blessed...</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="card flq-card-blog">
                    <div class="card-img-wrap">
                      <a href="{% url 'single_post' %}">
                        <span class="flq-image flq-responsive"><img src="assets/images/blog/post-2-740x420.jpg" alt="" /></span>
                        <span class="card-badge badge badge-dark badge-glass">November 18, 2021</span>
                      </a>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title h5"><a href="{% url 'single_post' %}">Years is air whose lesser. You&#39;ll thing waters unto brought.</a></h5>
                      <p>From said, our they&#39;re darkness void meat from, bearing. Void, beginning fruitful he were...</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="card flq-card-blog">
                    <div class="card-img-wrap">
                      <a href="{% url 'single_post' %}">
                        <span class="flq-image flq-responsive"><img src="assets/images/blog/post-3-740x420.jpg" alt="" /></span>
                        <span class="card-badge badge badge-dark badge-glass">November 15, 2021</span>
                      </a>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title h5"><a href="{% url 'single_post' %}">Is under void created his hath. One moving Appear hath.</a></h5>
                      <p>Spirit herb subdue second form lights green isn&#39;t a sixth had creepeth is night spirit...</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="flq-widget flq-widget-tag" data-sr data-sr-duration="1000" data-sr-distance="10">
              <h4 class="flq-widget-title h5"><span>Tags</span></h4>
              <div class="flq-tags">
                <ul>
                  <li>
                    <a href="#" class="flq-tag">#Comedy</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Drama</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Trailers</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Movie Trailers</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Horror</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Thriller</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#TV Shows</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Action</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Music</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Rider</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Travel</a>
                  </li>
                  <li>
                    <a href="#" class="flq-tag">#Car</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
