{% extends 'base.html' %}

{% block title %}
  Abonnement | Sehatra.com
{% endblock %}

{% load static %}

{% block content %}
  <div class="content-wrap">
    <div class="min-vh-100 flq-background flq-background-move">
      <div class="flq-background-image">
        <span class="flq-image"><img src="{% static 'assets/images/sehatra-3.png' %}" alt="A-venir" /></span>
      </div>
      <div class="flq-background-overlay" style="background-color:  rgba(22, 24, 34, 0.5);"></div>
      <div class="d-flex align-items-center justify-content-center py-7 min-vh-100">
        <div class="container text-center pt-navbar" data-sr="coming-soon" data-sr-delay="100" data-sr-interval="100" data-sr-duration="1300" data-sr-distance="10">
          <h1 class="display-3 mb-1" data-sr-item="coming-soon">SEHATRA</h1>
          <p class="lead mb-5" data-sr-item="coming-soon">Du nouveau arrive bientôt, restez à l'écoute !</p>
          <div class="flq-countdown row justify-content-center gy-4 h1 mb-5" data-end="2023-11-21 12:00" data-timezone="EST">
            <div class="col-auto">
              <div class="flq-countdown-item" data-sr-item="coming-soon">
                <span class="h6">Jours</span>
                <span><span class="flq-countdown-days"></span></span>
              </div>
            </div>
            <div class="col-auto">
              <div class="flq-countdown-item" data-sr-item="coming-soon">
                <span class="h6">Heures</span>
                <span><span class="flq-countdown-hours"></span></span>
              </div>
            </div>
            <div class="col-auto">
              <div class="flq-countdown-item" data-sr-item="coming-soon">
                <span class="h6">Minutes</span>
                <span><span class="flq-countdown-minutes"></span></span>
              </div>
            </div>
            <div class="col-auto">
              <div class="flq-countdown-item" data-sr-item="coming-soon">
                <span class="h6">Secondes</span>
                <span><span class="flq-countdown-seconds"></span></span>
              </div>
            </div>
          </div>
          <div class="test-countdown" data-end="2023-11-21 12:00" data-timezone="EST">
            <div class="test-countdown-days"></div>
            <div class="test-countdown-hours"></div>
            <div class="test-countdown-minutes"></div>
            <div class="test-countdown-seconds"></div>
          </div>
          <div class="row justify-content-center mb-5">
            <div class="col-lg-6">
              <div class="row gx-1 gy-4">
                <div class="col-12 col-sm">
                  <input class="form-control flq-form-mail form-control-lg flq-form-glass" type="email" placeholder="Votre adresse e-mail" data-sr-item="coming-soon" />
                </div>
                <div class="col-12 col-sm-auto">
                  <button class="btn btn-lg btn-white btn-brand-hover btn-block" data-sr-item="coming-soon">Envoyer</button>
                </div>
              </div>
            </div>
          </div>
          <div class="flq-social flq-social-glass flq-social-gap-1 gx-3 gy-3 text-center">
            <ul>
              <li>
                <a href="#" class="flq-social-link" data-sr-item="coming-soon">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.625 12C23.625 5.57812 18.4219 0.375 12 0.375C5.57812 0.375 0.375 5.57812 0.375 12C0.375 17.8022 4.62609 22.6116 10.1836 23.4844V15.3605H7.23047V12H10.1836V9.43875C10.1836 6.52547 11.918 4.91625 14.5744 4.91625C15.8466 4.91625 17.1769 5.14313 17.1769 5.14313V8.0025H15.7106C14.2669 8.0025 13.8164 8.89875 13.8164 9.81797V12H17.0405L16.5248 15.3605H13.8164V23.4844C19.3739 22.6116 23.625 17.8022 23.625 12Z" fill="currentColor" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="flq-social-link" data-sr-item="coming-soon">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.22506 0.450134C3.03566 0.450134 0.450134 3.03566 0.450134 6.22506V17.7749C0.450134 20.9643 3.03566 23.5498 6.22506 23.5498H17.7749C20.9643 23.5498 23.5498 20.9643 23.5498 17.7749V6.22506C23.5498 3.03566 20.9643 0.450134 17.7749 0.450134H6.22506ZM5.5834 12C5.5834 15.5437 8.45621 18.4166 12 18.4166C15.5437 18.4166 18.4166 15.5437 18.4166 12C18.4166 8.45621 15.5437 5.5834 12 5.5834C8.45621 5.5834 5.5834 8.45621 5.5834 12ZM12 15.8499C14.1263 15.8499 15.8499 14.1263 15.8499 12C15.8499 9.87365 14.1263 8.15003 12 8.15003C9.87366 8.15003 8.15004 9.87365 8.15004 12C8.15004 14.1263 9.87366 15.8499 12 15.8499ZM19.6999 4.30008C19.6999 5.00883 19.1253 5.5834 18.4166 5.5834C17.7078 5.5834 17.1333 5.00883 17.1333 4.30008C17.1333 3.59133 17.7078 3.01677 18.4166 3.01677C19.1253 3.01677 19.6999 3.59133 19.6999 4.30008Z" fill="currentColor" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
