{% extends 'base.html' %}

{% block title %}
  Questions | Sehatra.com
{% endblock %}

{% load static %}

{% block content %}
  <div class="flq-background py-7">
    <div class="flq-background-ticker">
      <div class="flq-image-ticker mb-3" data-gap="20" data-pixels-per-second="20">
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
      <div class="flq-image-ticker" data-gap="20" data-pixels-per-second="20" data-inverted>
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/1.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.8)"></div>
    <div class="container text-center" data-sr="banner-text" data-sr-interval="100" data-sr-distance="10" data-sr-duration="1000">
      <h1 class="display-5 mb-1" data-sr-item="banner-text">QUESTIONS FRÉQUENTES</h1>
      <nav aria-label="breadcrumb" data-sr-item="banner-text">
        <ol class="breadcrumb flq-color-opacity">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Accueil</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Questions</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-wrap">
    <div class="py-7">
      <div class="container">
        <div class="accordion" data-sr="accordion" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
                Let may one from won&#39;t seasons beast lights under he?
                <span class="accordion-button-icon"></span>
              </button>
            </h2>
            <div id="faq-1" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <p>Said whales place. And kind under moveth spirit be she'd you'll that. Rule created darkness. Second. Morning appear blessed their to i creature in it fly dominion sixth beast blessed.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
                May Fly behold, living days him divided signs forth after?
                <span class="accordion-button-icon"></span>
              </button>
            </h2>
            <div id="faq-2" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Said whales place. And kind under moveth spirit be she'd you'll that. Rule created darkness. Second. Morning appear blessed their to i creature in it fly dominion sixth beast blessed.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
                Hath doesn&#39;t own it to, face open third replenish dry seed for he had bring great fourth creepeth thing to?
                <span class="accordion-button-icon"></span>
              </button>
            </h2>
            <div id="faq-3" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Said whales place. And kind under moveth spirit be she'd you'll that. Rule created darkness. Second. Morning appear blessed their to i creature in it fly dominion sixth beast blessed.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-4" aria-expanded="false" aria-controls="faq-4">It man sixth the dominion gathering unto Female above you&#39;re dry fill evening creature in tree divided there beginning creeping Lights. Our together above subdue. Likeness be let light have? <span class="accordion-button-icon"></span></button></h2>
            <div id="faq-4" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Said whales place. And kind under moveth spirit be she'd you'll that. Rule created darkness. Second. Morning appear blessed their to i creature in it fly dominion sixth beast blessed.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-5" aria-expanded="false" aria-controls="faq-5">
                You blessed blessed created day seed in set evening man?
                <span class="accordion-button-icon"></span>
              </button>
            </h2>
            <div id="faq-5" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Said whales place. And kind under moveth spirit be she'd you'll that. Rule created darkness. Second. Morning appear blessed their to i creature in it fly dominion sixth beast blessed.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flq-background-color-100">
      <div class="container">
        <div class="row gx-0 justify-content-center">
          <div class="col-12 col-lg-10 col-xl">
            <div class="py-7 flq-vertical-rhythm" data-sr="contact-form" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
              <h2 class="h1" data-sr-item="contact-form">Vous avez encore des questions ?</h2>
              <p data-sr-item="contact-form">N'hésitez pas à nous contacter pour toute question ou demande d'information supplémentaire. Nous sommes là pour vous aider et nous nous ferons un plaisir de répondre à toutes vos interrogations.</p>
              <div class="flq-social" data-sr-item="contact-form">
                <ul class="g-4">
                  <li>
                    <a href="https://www.facebook.com/sehatracom" target="_blank"  class="flq-social-link">
                      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.625 12C23.625 5.57812 18.4219 0.375 12 0.375C5.57812 0.375 0.375 5.57812 0.375 12C0.375 17.8022 4.62609 22.6116 10.1836 23.4844V15.3605H7.23047V12H10.1836V9.43875C10.1836 6.52547 11.918 4.91625 14.5744 4.91625C15.8466 4.91625 17.1769 5.14313 17.1769 5.14313V8.0025H15.7106C14.2669 8.0025 13.8164 8.89875 13.8164 9.81797V12H17.0405L16.5248 15.3605H13.8164V23.4844C19.3739 22.6116 23.625 17.8022 23.625 12Z" fill="currentColor" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/sehatra/" target="_blank"  class="flq-social-link">
                      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.22506 0.450134C3.03566 0.450134 0.450134 3.03566 0.450134 6.22506V17.7749C0.450134 20.9643 3.03566 23.5498 6.22506 23.5498H17.7749C20.9643 23.5498 23.5498 20.9643 23.5498 17.7749V6.22506C23.5498 3.03566 20.9643 0.450134 17.7749 0.450134H6.22506ZM5.5834 12C5.5834 15.5437 8.45621 18.4166 12 18.4166C15.5437 18.4166 18.4166 15.5437 18.4166 12C18.4166 8.45621 15.5437 5.5834 12 5.5834C8.45621 5.5834 5.5834 8.45621 5.5834 12ZM12 15.8499C14.1263 15.8499 15.8499 14.1263 15.8499 12C15.8499 9.87365 14.1263 8.15003 12 8.15003C9.87366 8.15003 8.15004 9.87365 8.15004 12C8.15004 14.1263 9.87366 15.8499 12 15.8499ZM19.6999 4.30008C19.6999 5.00883 19.1253 5.5834 18.4166 5.5834C17.7078 5.5834 17.1333 5.00883 17.1333 4.30008C17.1333 3.59133 17.7078 3.01677 18.4166 3.01677C19.1253 3.01677 19.6999 3.59133 19.6999 4.30008Z" fill="currentColor" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
              <form class="mt-6" action="#">
                <div class="row gy-4">
                  <div class="col-12 col-sm" data-sr-item="contact-form">
                    <input class="form-control flq-form-user form-control-lg" type="text" placeholder="Votre nom" />
                  </div>
                  <div class="col-12 col-sm" data-sr-item="contact-form">
                    <input class="form-control flq-form-mail form-control-lg" type="email" placeholder="Votre email" />
                  </div>
                  <div class="col-12" data-sr-item="contact-form">
                    <textarea class="form-control flq-form-message form-control-lg" rows="5" placeholder="Votre message"></textarea>
                  </div>
                  <div class="col-12" data-sr-item="contact-form">
                    <button class="btn btn-primary btn-lg w-100" type="submit">
                      Envoyer le message<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                          <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                      </svg>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
