{% load static %}
<!-- Footer -->
<div class="flq-background-color-100">
  <div class="container">
    <div class="row gx-0 justify-content-center">
      <div class="col-12 col-lg-10 col-xl">
        <br />
        <h2 class="footer-title text-center">Mode de paiement</h2>
        <br />
        <div class="row justify-content-center text-center">
          <div class="col-12 d-flex flex-wrap justify-content-center">
            <!-- Images redirigeant vers le popup de connexion -->
            <a href="#" data-fancybox data-src="#flq_popup_signin" data-base-class="flq-fancybox-signin" data-animation-duration="1000" data-keyboard="false" data-auto-focus="false" data-touch="false" data-close-existing="true" data-small-btn="false" data-toolbar="false">
              <img src="{% static 'assets/images/visa-mastercard.jpg' %}" class="img-fluid mx-2" style="max-width: 100px;" alt="stripe" />
            </a>
            <a href="#" data-fancybox data-src="#flq_popup_signin" data-base-class="flq-fancybox-signin" data-animation-duration="1000" data-keyboard="false" data-auto-focus="false" data-touch="false" data-close-existing="true" data-small-btn="false" data-toolbar="false">
              <img src="{% static 'assets/images/orange-money.jpg' %}" class="img-fluid mx-2" style="max-width: 100px;" alt="orange-money" />
            </a>
            <a href="#" data-fancybox data-src="#flq_popup_signin" data-base-class="flq-fancybox-signin" data-animation-duration="1000" data-keyboard="false" data-auto-focus="false" data-touch="false" data-close-existing="true" data-small-btn="false" data-toolbar="false">
              <img src="{% static 'assets/images/MVOLA.jpg' %}" class="img-fluid mx-2" style="max-width: 100px;" alt="mvola" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
<footer class="flq-footer flq-background py-7" data-sr="footer" data-sr-interval="60" data-sr-duration="1000" data-sr-distance="10">
  <div class="flq-background-image">
    <span class="flq-image jarallax" data-speed="0.7"><img src="{% static 'assets/images/sehatra-3.png' %}" class="jarallax-img" alt="" /></span>
  </div>
  <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-background), .8);"></div>
  <div class="container">
    <div class="row gx-5 gy-5 mb-6 justify-content-center justify-content-sm-start">
      <div class="col-md-9 col-lg-3 text-center text-sm-start" data-sr-item="footer">
        <a href="{% url 'home' %}"><img src="{% static 'assets/images/logo-sehatra.png' %}" class="flq-logo" alt="" /></a>
        <p class="mt-1 pt-1">Le secteur événementiel Malagasy au service de la société et de l'environnement.</p>
      </div>
      <div class="col-lg-1 col-xl d-none d-lg-block"></div>
      <div class="col-12 col-md-4 col-lg col-xl-2">
        <nav>
          <ul class="nav flex-column gy-3">
            <li class="nav-item" data-sr-item="footer">
              <a href="{% url 'home' %}" class="nav-link">Accueil</a>
            </li>
            <li class="nav-item" data-sr-item="footer">
              <a href="{% url 'profile_account'%}" class="nav-link">Mon compte</a>
            </li>
            <li class="nav-item" data-sr-item="footer">
              <a href="{% url 'contact' %}" class="nav-link">Contactez-nous</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-4 col-lg col-xl-2">
        <nav>
          <ul class="nav flex-column gy-3">
            <li class="nav-item" data-sr-item="footer">
              <a href="{% url 'artiste' %}" class="nav-link">Artistes</a>
            </li>
            <li class="nav-item" data-sr-item="footer">
              <a href="{% url 'organizers' %}" class="nav-link">Organisateurs</a>
            </li>
            <li class="nav-item" data-sr-item="footer">
              <a href="{% url 'associations' %}" class="nav-link">Associations</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-4 col-lg col-xl-2">
        <nav>
          <ul class="nav flex-column gy-3">
            <li class="nav-item" data-sr-item="footer">
              <a href="{% url 'privacy' %}" class="nav-link text-nowrap">Politique de confidentialité</a>
            </li>            
            <li class="nav-item" data-sr-item="footer">
              <a href="{% url 'terms' %}" class="nav-link">Conditions d'utilisation</a>
            </li>
            <li class="nav-item" data-sr-item="footer">
              <a href="{% url 'faq' %}" class="nav-link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row gy-4 justify-content-between" data-sr="footer-copyright" data-sr-interval="100" data-sr-delay="200" data-sr-duration="1000" data-sr-distance="10">
      <div class="col-12 col-sm-auto text-center text-sm-start" data-sr-item="footer-copyright">
        <p>© 2024 Sehatra.com</p>
      </div>
      <div class="col-12 col-sm-auto text-center text-sm-start" data-sr-item="footer-copyright">
        <div class="flq-social text-center">
          <ul class="gy-4 gx-4">
            <li>
              <a href="https://www.facebook.com/sehatracom" class="flq-social-link" data-sr-item="footer-copyright">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23.625 12C23.625 5.57812 18.4219 0.375 12 0.375C5.57812 0.375 0.375 5.57812 0.375 12C0.375 17.8022 4.62609 22.6116 10.1836 23.4844V15.3605H7.23047V12H10.1836V9.43875C10.1836 6.52547 11.918 4.91625 14.5744 4.91625C15.8466 4.91625 17.1769 5.14313 17.1769 5.14313V8.0025H15.7106C14.2669 8.0025 13.8164 8.89875 13.8164 9.81797V12H17.0405L16.5248 15.3605H13.8164V23.4844C19.3739 22.6116 23.625 17.8022 23.625 12Z" fill="currentColor" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/sehatra/" class="flq-social-link" data-sr-item="footer-copyright">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.22506 0.450134C3.03566 0.450134 0.450134 3.03566 0.450134 6.22506V17.7749C0.450134 20.9643 3.03566 23.5498 6.22506 23.5498H17.7749C20.9643 23.5498 23.5498 20.9643 23.5498 17.7749V6.22506C23.5498 3.03566 20.9643 0.450134 17.7749 0.450134H6.22506ZM5.5834 12C5.5834 15.5437 8.45621 18.4166 12 18.4166C15.5437 18.4166 18.4166 15.5437 18.4166 12C18.4166 8.45621 15.5437 5.5834 12 5.5834C8.45621 5.5834 5.5834 8.45621 5.5834 12ZM12 15.8499C14.1263 15.8499 15.8499 14.1263 15.8499 12C15.8499 9.87365 14.1263 8.15003 12 8.15003C9.87366 8.15003 8.15004 9.87365 8.15004 12C8.15004 14.1263 9.87366 15.8499 12 15.8499ZM19.6999 4.30008C19.6999 5.00883 19.1253 5.5834 18.4166 5.5834C17.7078 5.5834 17.1333 5.00883 17.1333 4.30008C17.1333 3.59133 17.7078 3.01677 18.4166 3.01677C19.1253 3.01677 19.6999 3.59133 19.6999 4.30008Z" fill="currentColor" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->

<!-- Navbar icons -->
<div class="flq-navbar-icons">
  <ul>
    <li>
      <a href="{% url 'home' %}" class="btn btn-link btn-icon-md">
        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 12H9V22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0392 3 20.5305 3 20V9.9782C3 9.36102 3.28495 8.77841 3.77212 8.39949L10.7721 2.95505C11.4943 2.39332 12.5057 2.39332 13.2279 2.95505L20.2279 8.39949C20.7151 8.77841 21 9.36102 21 9.9782V20C21 20.5305 20.7893 21.0392 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H15V15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </li>
    <li>
      <button class="btn btn-link btn-icon-md" data-fancybox data-src="#flq_popup_search" data-base-class="flq-fancybox-search" data-animation-duration="1000" data-keyboard="false" data-auto-focus="true" data-touch="false" data-close-existing="true" data-small-btn="false" data-toolbar="false">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.0833 17.4167C14.1334 17.4167 17.4167 14.1334 17.4167 10.0833C17.4167 6.03325 14.1334 2.75 10.0833 2.75C6.03325 2.75 2.75 6.03325 2.75 10.0833C2.75 14.1334 6.03325 17.4167 10.0833 17.4167Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M19.25 19.25L15.2625 15.2625" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </li>
    <li>
      <button class="btn btn-link btn-icon-md" data-fancybox data-src="#flq_popup_user" data-base-class="flq-fancybox-navbar" data-animation-duration="1000" data-keyboard="false" data-auto-focus="false" data-touch="false" data-close-existing="true" data-small-btn="false" data-toolbar="false">
        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.4999 21.1422C17.888 20.8923 18.9884 20.5116 19.5 20C19.5718 19.3531 19.5 18.3333 19.5 18.3333C19.5 17.4493 19.0785 16.6014 18.3284 15.9763C15.9594 14.0022 8.04049 14.0022 5.67154 15.9763C4.92139 16.6014 4.49996 17.4493 4.49996 18.3333C4.49996 18.3333 4.42809 19.3531 4.49996 20C5.01153 20.5116 6.11194 20.8923 7.49996 21.1422M16 7C16 9.20914 14.2091 11 12 11C9.79082 11 7.99996 9.20914 7.99996 7C7.99996 4.79086 9.79082 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </li>
    <li>
      <button class="btn btn-link btn-icon-md" data-fancybox data-src="#flq_popup_signin" data-base-class="flq-fancybox-signin" data-animation-duration="1000" data-keyboard="false" data-auto-focus="false" data-touch="false" data-close-existing="true" data-small-btn="false" data-toolbar="false">
        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 17L15 12M15 12L10 7M15 12H3M15 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </li>
    <li class="d-flex align-items-center">
      <div class="flq-scroll-top-wrapper">
        <a class="flq-scroll-top-button flq-anchor" href="#page">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
        <div class="flq-scroll-progress flq-scroll-progress-circle">
          <svg>
            <circle stroke="currentColor" r="0" fill="none" />
          </svg>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- / Navbar icons -->

<!-- Scroll top button -->
<div class="flq-scroll-top-wrapper">
  <a class="flq-scroll-top-button flq-anchor" href="#page">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </a>
  <div class="flq-scroll-progress flq-scroll-progress-circle">
    <svg>
      <circle stroke="currentColor" r="0" fill="none" />
    </svg>
  </div>
</div>
<!-- / Scroll top button -->

<!-- Popup navbar mobile -->
<nav class="flq-navbar-mobile fancybox-content" id="flq_navbar_mobile">
  <div class="flq-fancybox-head">
    <div class="container-fluid">
      <a href="{% url 'home' %}" class="flq-fancybox-brand me-auto"><img src="{% static 'assets/images/logo-sehatra.png' %}" class="flq-logo" alt="" /></a>
      <button class="flq-fancybox-close btn btn-link ms-4" data-fancybox-close><span></span></button>
    </div>
  </div>
  <div class="container pt-4 pb-6">
    <div class="flq-fancybox-body row gy-6 gx-6">
      <div class="col-12 col-lg">
        <ul class="nav flex-column flq-navbar-nav accordion gy-3">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link"><span class="nav-link-name">Accueil</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'pricing' %}" class="nav-link"><span class="nav-link-name">Abonnement</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'concert_live' %}" class="nav-link"><span class="nav-link-name">Concerts et Lives</span></a>
          </li>
          <li class="nav-item accordion-item flq-dropdown-nav">
            <button class="nav-link accordion-button collapsed" data-bs-target="#Movies" data-bs-toggle="collapse" aria-expanded="false">
              <li class="nav-item">
                <a href="{% url 'movies' %}" class="nav-link"><span class="nav-link-name">Films</span></a>
              </li>
              {% comment %} <span class="accordion-button-icon"></span> {% endcomment %}
            </button>
          </li>
          <li class="nav-item accordion-item flq-dropdown-nav">
            <button class="nav-link accordion-button collapsed" data-bs-target="#Blog" data-bs-toggle="collapse" aria-expanded="false">
              <span class="nav-link-name">Partenaires</span>
              <span class="accordion-button-icon"></span>
            </button>
            <div class="accordion-collapse collapse" id="Blog">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="{% url 'artiste' %}" class="nav-link"><span class="nav-link-name">Artistes</span></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'organizers' %}" class="nav-link"><span class="nav-link-name">Organisateurs</span></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'associations' %}" class="nav-link"><span class="nav-link-name">Associations</span></a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item accordion-item flq-dropdown-nav">
            <button class="nav-link accordion-button collapsed" data-bs-target="#Pages" data-bs-toggle="collapse" aria-expanded="false">
              <span class="nav-link-name">Plus</span>
              <span class="accordion-button-icon"></span>
            </button>
            <div class="accordion-collapse collapse" id="Pages">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="{% url 'about' %}" class="nav-link"><span class="nav-link-name">À propos</span></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'contact' %}" class="nav-link"><span class="nav-link-name">Contactez-nous</span></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'faq' %}" class="nav-link"><span class="nav-link-name">Questions</span></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'coming_soon' %}" class="nav-link"><span class="nav-link-name">À venir</span></a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- / Popup navbar mobile -->

<!-- Popup navbar user -->
<nav class="flq-navbar-mobile fancybox-content" id="flq_popup_user">
  <div class="flq-fancybox-head">
    <div class="container-fluid">
      <a href="{% url 'home' %}" class="flq-fancybox-brand me-auto"><img src="{% static 'assets/images/logo-sehatra.png' %}" class="flq-logo" alt="" /></a>
      <button class="flq-fancybox-close btn btn-link ms-4" data-fancybox-close><span></span></button>
    </div>
  </div>
  <div class="container pt-4 pb-6">
    <div class="flq-fancybox-body row gy-6 gx-6">
      <div class="col-12 col-lg">
        <ul class="nav flex-column flq-navbar-nav accordion gy-3">
          <li class="nav-item">
            <a href="{% url 'profile_account' %}" class="nav-link"><span class="nav-link-name">Profil</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'favorite' %}" class="nav-link"><span class="nav-link-name">Favoris</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'reviews' %}" class="nav-link"><span class="nav-link-name">Avis & Commentaires</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'edit_account' %}" class="nav-link"><span class="nav-link-name">Modifier mon compte</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'notification' %}" class="nav-link"><span class="nav-link-name">Notifications</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link"><span class="nav-link-name">Se déconnecter</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- / Popup navbar user -->

<!-- Popup search -->
<div class="flq-fancybox-content-search fancybox-content" id="flq_popup_search">
  <div class="flq-search">
    <div class="flq-fancybox-body pb-6">
      <div class="container-small">
        <div class="flq-search-content">
          <form action="#">
            <input class="form-control form-control-lg flq-form-glass flq-search-input" type="text" placeholder="Tapez pour rechercher" name="search" />
            <button class="btn btn-link btn-icon-md flq-search-btn" type="button">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.0833 17.4167C14.1334 17.4167 17.4167 14.1334 17.4167 10.0833C17.4167 6.03325 14.1334 2.75 10.0833 2.75C6.03325 2.75 2.75 6.03325 2.75 10.0833C2.75 14.1334 6.03325 17.4167 10.0833 17.4167Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M19.25 19.25L15.2625 15.2625" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="flq-fancybox-head">
      <div class="container-fluid">
        <a href="{% url 'home' %}" class="flq-fancybox-brand me-auto"><img src="{% static 'assets/images/logo-sehatra.png' %}" class="flq-logo" alt="" /></a>
        <button class="flq-fancybox-close btn btn-link ms-4" data-fancybox-close><span></span></button>
      </div>
    </div>
    <div class="flq-fancybox-footer">
      <div class="container-small">
        <div class="flq-social text-center">
          <ul class="g-4">
            <li>
              <a href="https://www.facebook.com/sehatracom" class="flq-social-link" data-sr-item="footer-copyright">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23.625 12C23.625 5.57812 18.4219 0.375 12 0.375C5.57812 0.375 0.375 5.57812 0.375 12C0.375 17.8022 4.62609 22.6116 10.1836 23.4844V15.3605H7.23047V12H10.1836V9.43875C10.1836 6.52547 11.918 4.91625 14.5744 4.91625C15.8466 4.91625 17.1769 5.14313 17.1769 5.14313V8.0025H15.7106C14.2669 8.0025 13.8164 8.89875 13.8164 9.81797V12H17.0405L16.5248 15.3605H13.8164V23.4844C19.3739 22.6116 23.625 17.8022 23.625 12Z" fill="currentColor" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/sehatra/" class="flq-social-link" data-sr-item="footer-copyright">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.22506 0.450134C3.03566 0.450134 0.450134 3.03566 0.450134 6.22506V17.7749C0.450134 20.9643 3.03566 23.5498 6.22506 23.5498H17.7749C20.9643 23.5498 23.5498 20.9643 23.5498 17.7749V6.22506C23.5498 3.03566 20.9643 0.450134 17.7749 0.450134H6.22506ZM5.5834 12C5.5834 15.5437 8.45621 18.4166 12 18.4166C15.5437 18.4166 18.4166 15.5437 18.4166 12C18.4166 8.45621 15.5437 5.5834 12 5.5834C8.45621 5.5834 5.5834 8.45621 5.5834 12ZM12 15.8499C14.1263 15.8499 15.8499 14.1263 15.8499 12C15.8499 9.87365 14.1263 8.15003 12 8.15003C9.87366 8.15003 8.15004 9.87365 8.15004 12C8.15004 14.1263 9.87366 15.8499 12 15.8499ZM19.6999 4.30008C19.6999 5.00883 19.1253 5.5834 18.4166 5.5834C17.7078 5.5834 17.1333 5.00883 17.1333 4.30008C17.1333 3.59133 17.7078 3.01677 18.4166 3.01677C19.1253 3.01677 19.6999 3.59133 19.6999 4.30008Z" fill="currentColor" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Popup search -->

<!-- Popup signin -->
<div class="flq-fancybox-content-signin fancybox-content" id="flq_popup_signin">
  <div class="flq-signin">
    <div class="flq-fancybox-head">
      <div class="container-fluid">
        <a href="{% url 'home' %}" class="flq-fancybox-brand me-auto"><img src="{% static 'assets/images/logo-sehatra.png' %}" class="flq-logo" alt="" /></a>
        <button class="flq-fancybox-close btn btn-link ms-4" data-fancybox-close><span></span></button>
      </div>
    </div>
    <div class="flq-fancybox-body pb-6">
      <form action="#" class="flq-signin-content" autocomplete="off">
        <h4 class="mb-4 pb-1 text-center">Connexion</h4>
        <div class="row justify-content-between gy-4">
          <div class="col-12">
            <input class="form-control flq-form-user flq-form-translucent" type="text" placeholder="Adresse e-mail" />
          </div>
          <div class="col-12">
            <input class="form-control flq-form-lock flq-form-translucent" type="password" placeholder="Mot de passe" />
          </div>
          <div class="col-auto">
            <div class="form-check flq-form-translucent">
              <input class="form-check-input" type="checkbox" id="signinRememberMe" /><label class="form-check-label" for="signinRememberMe">Se souvenir de moi</label>
            </div>
          </div>
          <div class="col-auto">
            <a href="#" class="flq-color-meta flq-color-title-hover">Mot de passe oublier?</a>
          </div>
          <div class="col-12">
            <button class="btn btn-block">Se Connecter</button>
          </div>
          <div class="col-12 mt-3 text-center">
            <a href="#" class="btn btn-link" data-fancybox data-src="#flq_popup_signup" data-base-class="flq-fancybox-signup" data-keyboard="false" data-animation-duration="1000" data-auto-focus="false" data-touch="false" data-close-existing="false" data-small-btn="false" data-toolbar="false">S'inscrire</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- / Popup signin -->

<!-- Popup signup -->
<div class="flq-fancybox-content-signup fancybox-content" id="flq_popup_signup">
  <div class="flq-signup">
    <div class="flq-fancybox-head">
      <div class="container-fluid">
        <a href="{% url 'home' %}" class="flq-fancybox-brand me-auto"><img src="{% static 'assets/images/logo-sehatra.png' %}" class="flq-logo" alt="" /></a>
        <button class="flq-fancybox-close btn btn-link ms-4" data-fancybox-close><span></span></button>
      </div>
    </div>
    <div class="flq-fancybox-body pb-6">
      <form action="#" class="flq-signup-content">
        <h4 class="mb-4 pb-1 text-center">Création de compte</h4>
        <div class="row gy-4">
          <div class="col-12">
            <input class="form-control flq-form-mail flq-form-translucent" type="email" placeholder="Adresse e-mail" />
          </div>
          <div class="col-12">
            <input class="form-control flq-form-lock flq-form-translucent" type="password" placeholder="Mot de passe" />
          </div>
          <div class="col-12">
            <div class="form-check flq-form-translucent">
              <input class="form-check-input" type="checkbox" id="signupTerms" /><label class="form-check-label" for="signupTerms">J'ai lu et j'accepte les conditions générales.</label>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-block">S'inscrire</button>
          </div>
          <div class="col-12 text-center mt-1">ou</div>
          <div class="col-12 mt-1">
            <div class="row justify-content-center gy-1">
              <div class="col-auto">
                <a href="#" class="btn btn-link"><span class="me-1">Se connecter avec</span><i class="fab fa-google"></i>oogle</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- / Popup signup -->

<!-- Offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="flq_offcanvas">
  <div class="offcanvas-header">
    <a href="{% url 'home' %}" class="flq-fancybox-brand me-auto"><img src="{% static 'assets/images/logo-sehatra.png' %}" class="flq-logo" alt="" /></a>
    <button type="button" class="btn btn-link offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close"><span></span></button>
  </div>
</div>
<!-- / Offcanvas -->
