{% extends 'base.html' %}

{% block title %}
  Sehatra.com - Live Streaming Malagasy - Film Gasy - Concerts
{% endblock %}

{% load static %}

{% block content %}
  <div class="modal fade" id="cookieModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cookieModalLabel">Accepter les Cookies</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Nous utilisons des cookies pour améliorer votre expérience sur notre site. En continuant à utiliser notre site, vous acceptez l'utilisation des cookies.
          <a href="https://www.afapdp.org/archives/2901" class="link-info" target="blank">Règlement général sur la protection des données</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="acceptCookies">Accepter</button>
        </div>
      </div>
    </div>
  </div>
  {% comment %}Modal cookies{% endcomment %}
  <div class="flq-swiper-wrapper flq-background">
    <div class="flq-background-overlay py-6 d-flex align-items-end align-items-md-center z-index-2">
      <div class="container d-flex justify-content-center justify-content-md-end flq-pe-none">
        <div class="flq-swiper-pagination flq-swiper-pagination-horizontal flq-swiper-pagination-md-vertical flq-pe-initial"></div>
      </div>
    </div>

    <div class="swiper flq-swiper-main" data-parallax="true" data-auto-height="true" data-speed="600" data-pagination="true">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- Slide 1 -->
          <div class="swiper-slide flq-background">
            <div class="flq-background-image">
              <span class="flq-image swiper-image" data-speed="0.7" data-swiper-parallax-x="40%"><img src="{% static 'assets/images/movies/movie-1-3840x2160.jpg' %}" alt="" /></span>
            </div>
            <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.7)"></div>
            <div class="container py-7 min-vh-100 d-flex align-items-center">
              <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-6 pt-navbar flq-vertical-rhythm">
                  <!-- Content for Slide 1 -->
                  <div class="flq-subtitle badge badge-white badge-glass badge-translucent" data-animejs>[Genre de la musique]</div>
                  <h2 class="display-5 mb-0" data-animejs>[Titre événement]</h2>
                  <div class="flq-meta flq-color-opacity mt-3">
                    <ul class="gx-4">
                      <li data-animejs>
                        <a href="">[Date]</a>
                      </li>
                    </ul>
                  </div>
                  <p class="lead" data-animejs>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quo vel ab fuga architecto iste corporis quaerat corrupti. Exercitationem officiis suscipit eius totam eos! Natus et aliquid quis incidunt veniam.</p>
                  <div>
                    <div class="row gy-1">
                      <div class="col-auto" data-animejs>
                        <a href="{% url 'artiste' %}" class="btn btn-link">[Nom de l'artiste]</a>
                      </div>
                    </div>
                  </div>
                  <div class="py-1">
                    <div class="row gy-4 align-items-center">
                      <div class="col-auto" data-animejs>
                        <a href="#" class="btn btn-icon-sm">
                          <span class="btn-name">Regarder maintenant</span>
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 19L19 12L8 5V19Z" fill="currentColor" />
                          </svg>
                        </a>
                      </div>
                      <div class="col-auto" data-animejs>
                        <a href="#" class="btn btn-link">Plus de détails</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="swiper-slide flq-background">
            <div class="flq-background-image">
              <span class="flq-image swiper-image" data-swiper-parallax-x="40%" data-swiper-parallax-speed="0.7"><img src="{% static 'assets/images/movies/movie-3-3840x2160.jpg' %}" alt="" /></span>
            </div>
            <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.7)"></div>
            <div class="container py-7 min-vh-100 d-flex align-items-center">
              <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-6 pt-navbar flq-vertical-rhythm">
                  <!-- Content for Slide 2 -->
                  <span class="flq-subtitle badge badge-white badge-glass badge-translucent" data-animejs>[Genre du film]</span>
                  <h2 class="display-5 mb-0" data-animejs>Titre du film</h2>
                  <div class="flq-meta flq-color-opacity mt-3">
                    <ul class="gx-4">
                      <li data-animejs>
                        <a href="">[Date]</a>
                      </li>
                    </ul>
                  </div>
                  <p class="lead" data-animejs>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quo vel ab fuga architecto iste corporis quaerat corrupti. Exercitationem officiis suscipit eius totam eos! Natus et aliquid quis incidunt veniam.</p>
                  <div>
                    <div class="row gy-1">
                      <div class="col-auto" data-animejs>
                        <a href="{% url 'artiste' %}" class="btn btn-link">[Nom de l'artiste]</a>
                      </div>
                    </div>
                  </div>
                  <div class="py-1">
                    <div class="row gy-4 align-items-center">
                      <div class="col-auto" data-animejs>
                        <a href="#" class="btn btn-icon-sm">
                          <span class="btn-name">Regarder maintenant</span>
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 19L19 12L8 5V19Z" fill="currentColor" />
                          </svg>
                        </a>
                      </div>
                      <div class="col-auto" data-animejs>
                        <a href="#" class="btn btn-link">Plus de détails</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrap">
    <div class="flq-swiper-wrapper my-7" data-sr="new-releases" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
      <div class="container mb-5" data-sr-item="new-releases">
        <h2>Retrouvez aussi d'autres Live sur SEHATRA.COM</h2>
      </div>
      <div class="swiper flq-swiper-effect-touch" data-sr-item="new-releases" data-buttons="true" data-pagination-custom="true" data-gap="30" data-speed="800" data-touch-ratio="0.8" data-slides="1" data-breakpoints="636:2,1072:3,1280:4">
        <div class="swiper-container container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                    <span class="flq-image flq-rounded-xl flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/movies/movie-1-1290x1290.jpg" alt="" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">8.4</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre de l'évenement]</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="" class="card-year">[Date]</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">[Genre de la musique]</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                    <span class="flq-image flq-rounded-xl flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/movies/movie-1-1290x1290.jpg" alt="" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">8.4</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre de l'évenement]</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="" class="card-year">[Date]</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">[Genre de la musique]</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                    <span class="flq-image flq-rounded-xl flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/movies/movie-1-1290x1290.jpg" alt="" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">8.4</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre de l'évenement]</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="" class="card-year">[Date]</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">[Genre de la musique]</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                    <span class="flq-image flq-rounded-xl flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/movies/movie-1-1290x1290.jpg" alt="" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">8.4</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre de l'évenement]</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="" class="card-year">[Date]</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">[Genre de la musique]</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                    <span class="flq-image flq-rounded-xl flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/movies/movie-1-1290x1290.jpg" alt="" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">8.4</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre de l'évenement]</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="" class="card-year">[Date]</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">[Genre de la musique]</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                    <span class="flq-image flq-rounded-xl flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/movies/movie-1-1290x1290.jpg" alt="" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">8.4</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre de l'évenement]</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="" class="card-year">[Date]</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">[Genre de la musique]</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card flq-card-blog">
                <div class="card-img-wrap">
                  <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                    <span class="flq-image flq-rounded-xl flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/movies/movie-1-1290x1290.jpg" alt="" /></span>
                    {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">8.4</span> {% endcomment %}
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre de l'évenement]</a></h5>
                  <div class="flq-meta flq-meta-sm">
                    <ul>
                      <li>
                        <a href="" class="card-year">[Date]</a>
                      </li>
                      <li>
                        <a href="#" class="card-category">[Genre de la musique]</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row align-items-center justify-content-between gx-5">
          <div class="col-auto" data-sr-item="new-releases">
            <div class="flq-swiper-pagination-custom"></div>
          </div>
          <div class="col d-none d-sm-block" data-sr-item="new-releases">
            <hr />
          </div>
          <div class="col-auto" data-sr-item="new-releases">
            <div class="flq-swiper-button-prev btn btn-sm btn-dark btn-active btn-square btn-icon-sm me-1" data-sr-item="related">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="flq-swiper-button-next btn btn-sm btn-dark btn-active btn-square btn-icon-sm" data-sr-item="related">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container flq-swiper-wrapper mb-7" data-sr="upcoming-movies" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
      <h2 class="mb-5" data-sr-item="upcoming-movies">Films à venir</h2>
      <div class="swiper flq-swiper-effect-touch mb-5" data-sr-item="upcoming-movies" data-buttons="true" data-pagination-progress="true" data-gap="30" data-speed="800" data-touch-ratio="0.8" data-breakpoints="656:1,1072:2">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}" class="card flq-card-movie flq-color-opacity">
                <span class="card-img-wrap"><span class="flq-image flq-responsive flq-responsive-lg-1x1 flq-responsive-xl-16x9"><img src="{% static 'assets/images/movies/movie-2-1290x1290.jpg' %}" alt="" /></span></span>
                <span class="card-body">
                  <span class="card-badge"><svg width="43" height="22" viewBox="0 0 43 22" fill="none" xmlns="http://www.w3.org/2000/svg"></svg></span>
                  <span class="card-title h5">[Titre du film]</span>
                  <span class="card-description"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, itaque? Eaque odio culpa vitae officiis nihil laborum, perferendis corrupti consectetur, ipsum labore earum qui explicabo suscipit reiciendis beatae fuga aspernatur.</span></span>
                </span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}" class="card flq-card-movie flq-color-opacity">
                <span class="card-img-wrap"><span class="flq-image flq-responsive flq-responsive-lg-1x1 flq-responsive-xl-16x9"><img src="{% static 'assets/images/movies/movie-1-1290x1290.jpg' %}" alt="" /></span></span>
                <span class="card-body">
                  <span class="card-badge"><svg width="43" height="22" viewBox="0 0 43 22" fill="none" xmlns="http://www.w3.org/2000/svg"></svg></span>
                  <span class="card-title h5">[Titre du film]</span>
                  <span class="card-description"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, itaque? Eaque odio culpa vitae officiis nihil laborum, perferendis corrupti consectetur, ipsum labore earum qui explicabo suscipit reiciendis beatae fuga aspernatur.</span></span>
                </span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}" class="card flq-card-movie flq-color-opacity">
                <span class="card-img-wrap"><span class="flq-image flq-responsive flq-responsive-lg-1x1 flq-responsive-xl-16x9"><img src="{% static 'assets/images/movies/movie-3-1290x1290.jpg' %}" alt="" /></span></span>
                <span class="card-body">
                  <span class="card-badge"><svg width="43" height="22" viewBox="0 0 43 22" fill="none" xmlns="http://www.w3.org/2000/svg"></svg></span>
                  <span class="card-title h5">[Titre du film]</span>
                  <span class="card-description"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, itaque? Eaque odio culpa vitae officiis nihil laborum, perferendis corrupti consectetur, ipsum labore earum qui explicabo suscipit reiciendis beatae fuga aspernatur.</span></span>
                </span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}" class="card flq-card-movie flq-color-opacity">
                <span class="card-img-wrap"><span class="flq-image flq-responsive flq-responsive-lg-1x1 flq-responsive-xl-16x9"><img src="../static/assets/images/movies/movie-4-1290x1290.jpg" alt="" /></span></span>
                <span class="card-body">
                  <span class="card-badge"><svg width="43" height="22" viewBox="0 0 43 22" fill="none" xmlns="http://www.w3.org/2000/svg"></svg></span>
                  <span class="card-title h5">[Titre du film]</span>
                  <span class="card-description"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, itaque? Eaque odio culpa vitae officiis nihil laborum, perferendis corrupti consectetur, ipsum labore earum qui explicabo suscipit reiciendis beatae fuga aspernatur.</span></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between gy-4 gx-5">
        <div class="col-12 col-sm-6 order-sm-2" data-sr-item="upcoming-movies">
          <div class="swiper-pagination flq-swiper-pagination-progress"></div>
        </div>
        <div class="col-auto order-sm-1" data-sr-item="upcoming-movies">
          <div class="flq-swiper-pagination-custom"></div>
        </div>
        <div class="col-auto order-sm-3" data-sr-item="upcoming-movies">
          <div class="flq-swiper-button-prev btn btn-sm btn-square btn-dark btn-active btn-icon-sm me-1" data-sr-item="related">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="flq-swiper-button-next btn btn-sm btn-square btn-dark btn-active btn-icon-sm" data-sr-item="related">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container flq-swiper-wrapper my-7" data-sr="best-serials" data-sr-interval="80" data-sr-duration="1000" data-sr-distance="10">
    <div class="row align-items-center justify-content-between gx-5 gy-4 mb-5">
      <div class="col-auto" data-sr-item="best-serials">
        <h3>Les plus regardés</h3>
      </div>
      <div class="col d-none d-sm-block" data-sr-item="best-serials">
        <hr />
      </div>
      <div class="col-auto" data-sr-item="best-serials">
        <div class="flq-swiper-button-prev btn btn-sm btn-white btn-brand-hover btn-active btn-square btn-icon-sm me-1">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="flq-swiper-button-next btn btn-sm btn-white btn-brand-hover btn-active btn-square btn-icon-sm">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper flq-swiper-effect-touch" data-sr-item="best-serials" data-buttons="true" data-gap="30" data-loop="true" data-speed="800" data-touch-ratio="0.8" data-breakpoints="320:1,656:2,1072:3,1280:4">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card flq-card-blog">
              <div class="card-img-wrap">
                <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                  <span class="flq-image flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/tv-shows/show-3-1290x1290.jpg" alt="" /></span>
                  {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">6.2</span> {% endcomment %}
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
                <div class="flq-meta flq-meta-sm">
                  <ul>
                    <li>
                      <a href="#" class="card-year">[Date]</a>
                    </li>
                    <li>
                      <a href="#" class="card-category">[Genre du film]</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card flq-card-blog">
              <div class="card-img-wrap">
                <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                  <span class="flq-image flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/tv-shows/show-3-1290x1290.jpg" alt="" /></span>
                  {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">6.2</span> {% endcomment %}
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
                <div class="flq-meta flq-meta-sm">
                  <ul>
                    <li>
                      <a href="#" class="card-year">[Date]</a>
                    </li>
                    <li>
                      <a href="#" class="card-category">[Genre du film]</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card flq-card-blog">
              <div class="card-img-wrap">
                <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                  <span class="flq-image flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/tv-shows/show-3-1290x1290.jpg" alt="" /></span>
                  {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">6.2</span> {% endcomment %}
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
                <div class="flq-meta flq-meta-sm">
                  <ul>
                    <li>
                      <a href="#" class="card-year">[Date]</a>
                    </li>
                    <li>
                      <a href="#" class="card-category">[Genre du film]</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card flq-card-blog">
              <div class="card-img-wrap">
                <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                  <span class="flq-image flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/tv-shows/show-3-1290x1290.jpg" alt="" /></span>
                  {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">6.2</span> {% endcomment %}
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
                <div class="flq-meta flq-meta-sm">
                  <ul>
                    <li>
                      <a href="#" class="card-year">[Date]</a>
                    </li>
                    <li>
                      <a href="#" class="card-category">[Genre du film]</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card flq-card-blog">
              <div class="card-img-wrap">
                <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
                  <span class="flq-image flq-responsive flq-responsive-sm-3x4"><img src="../static/assets/images/tv-shows/show-3-1290x1290.jpg" alt="" /></span>
                  {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white">6.2</span> {% endcomment %}
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
                <div class="flq-meta flq-meta-sm">
                  <ul>
                    <li>
                      <a href="#" class="card-year">[Date]</a>
                    </li>
                    <li>
                      <a href="#" class="card-category">[Genre du film]</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-7 overflow-hidden flq-background flq-background-color-100" data-sr="features" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
    <div class="flq-background-shape">
      <div data-rellax data-rellax-speed="1" class="mt-auto">
        <svg class="flq-translate-y50 ms-n7" width="866" height="831" viewBox="0 0 866 831" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M323.654 829.93C224.153 816.108 227.515 661.483 166.991 581.373C117.182 515.444 16.5101 485.726 2.15912 404.394C-12.2526 322.718 48.441 248.437 96.2908 180.687C138.901 120.355 193.017 70.7174 259.952 39.3885C326.181 8.38988 399.582 -9.42614 471.263 5.18105C541.916 19.579 590.604 76.5775 649.113 118.693C724.145 172.702 839.74 196.401 861.604 286.155C883.301 375.219 810.521 461.538 749.243 529.731C697.595 587.206 611.836 589.844 548.676 634.395C465.428 693.116 424.619 843.956 323.654 829.93Z" fill="#fff" fill-opacity="0.02" />
        </svg>
      </div>
      <div data-rellax data-rellax-speed="-1" class="ms-auto">
        <svg class="flq-translate-yn50 mt-n7 ms-7" width="782" height="865" viewBox="0 0 782 865" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M755.116 831.212C680.566 911.828 543.954 812.208 434.284 816.447C344.028 819.936 254.487 891.671 172.561 853.73C90.2879 815.629 61.5615 714.78 30.6714 629.531C3.16372 553.617 -7.56424 474.065 6.13963 394.452C19.6991 315.678 49.5645 238.707 107.441 183.536C164.489 129.156 246.033 121.094 320.36 94.9246C415.677 61.3647 509.14 -27.5167 603.314 8.94621C696.764 45.1286 728.741 164.34 751.641 261.91C770.941 344.146 719.74 422.719 720.256 507.206C720.936 618.565 830.763 749.41 755.116 831.212Z" fill="#fff" fill-opacity="0.02" />
        </svg>
      </div>
    </div>
    <div class="container">
      <div class="row gy-5 gx-6">
        <div class="col-lg-4">
          <span class="flq-subtitle badge badge-white badge-glass badge-translucent" data-sr-item="features">Expérience</span>
          <h2 class="h1" data-sr-item="features">Découvrez des fonctionnalités innovantes et une navigation fluide</h2>
        </div>
        <div class="col-lg-8">
          <div class="row g-6">
            <div class="col-12 col-sm-6" data-sr-item="features">
              <div class="card flq-card-feature">
                <div class="card-body">
                  <div class="card-icon">
                    <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3 4.5C3 3.11929 4.11929 2 5.5 2H18.5C19.8807 2 21 3.11929 21 4.5V19.5C21 20.8807 19.8807 22 18.5 22H5.5C4.11929 22 3 20.8807 3 19.5V4.5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M10 8L15 12L10 16V8Z" fill="currentColor" />
                    </svg>
                  </div>
                  <div class="card-title h5">Accès aux films et lives</div>
                  <p>Profitez de nos films et diffusions en direct avec un accès facile et rapide.</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6" data-sr-item="features">
              <div class="card flq-card-feature">
                <div class="card-body">
                  <div class="card-icon">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.25 21.25H5C4.33696 21.25 3.70107 20.9866 3.23223 20.5178C2.76339 20.0489 2.5 19.413 2.5 18.75V6.25C2.5 5.58696 2.76339 4.95107 3.23223 4.48223C3.70107 4.01339 4.33696 3.75 5 3.75H25C25.663 3.75 26.2989 4.01339 26.7678 4.48223C27.2366 4.95107 27.5 5.58696 27.5 6.25V18.75C27.5 19.413 27.2366 20.0489 26.7678 20.5178C26.2989 20.9866 25.663 21.25 25 21.25H23.75" stroke="#FAFAFA" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M15 18.75L21.25 26.25H8.75L15 18.75Z" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </div>
                  <div class="card-title h5">Streaming 4K</div>
                  <p>Profitez d'une qualité de streaming 4K pour une expérience visuelle immersive sur tous vos écrans.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6" data-sr-item="features">
              <div class="card flq-card-feature">
                <div class="card-body">
                  <div class="card-icon">
                    <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 4C6.48 4 2 12 2 12s4.48 8 10 8 10-8 10-8-4.48-8-10-8zM12 16.5C9.51 16.5 7.5 14.49 7.5 12S9.51 7.5 12 7.5 16.5 9.51 16.5 12 14.49 16.5 12 16.5z" fill="currentColor" />
                    </svg>
                  </div>
                  <div class="card-title h5">Visionnage en ligne</div>
                  <p>Accédez instantanément à vos contenus préférés en streaming, où que vous soyez, sans nécessiter de téléchargement préalable.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6" data-sr-item="features">
              <div class="card flq-card-feature">
                <div class="card-body">
                  <div class="card-icon">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 27.5C15 27.5 25 22.5 25 15V6.25L15 2.5L5 6.25V15C5 22.5 15 27.5 15 27.5Z" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </div>
                  <div class="card-title h5">Sécurisé</div>
                  <p>Profitez de vos contenus en toute sécurité, avec une protection avancée de vos données personnelles et de vos transactions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %}Film sur sehatra{% endcomment %}
  <div class="container my-7" data-sr="online-streaming" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
    <div class="text-center mb-5">
      <span class="flq-subtitle badge badge-white badge-glass badge-translucent" data-sr-item="online-streaming">Streaming en ligne</span>
      <h2 data-sr-item="online-streaming">Retrouvez aussi d'autres Films sur SEHATRA.COM</h2>
    </div>
    <div class="row gy-5 justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" data-sr-item="online-streaming">
        <div class="card flq-card-blog">
          <div class="card-img-wrap">
            <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
              <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-1-390x440.jpg' %}" alt="" /></span>
              {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">7.2</span> {% endcomment %}
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title h6"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
            <div class="flq-meta flq-meta-sm">
              <ul>
                <li>
                  <a href="#" class="card-year">[Date]</a>
                </li>
                <li>
                  <a href="#" class="card-category">[Genre]</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" data-sr-item="online-streaming">
        <div class="card flq-card-blog">
          <div class="card-img-wrap">
            <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
              <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-1-390x440.jpg' %}" alt="" /></span>
              {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">7.2</span> {% endcomment %}
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title h6"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
            <div class="flq-meta flq-meta-sm">
              <ul>
                <li>
                  <a href="#" class="card-year">[Date]</a>
                </li>
                <li>
                  <a href="#" class="card-category">[Genre]</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" data-sr-item="online-streaming">
        <div class="card flq-card-blog">
          <div class="card-img-wrap">
            <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
              <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-1-390x440.jpg' %}" alt="" /></span>
              {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">7.2</span> {% endcomment %}
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title h6"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
            <div class="flq-meta flq-meta-sm">
              <ul>
                <li>
                  <a href="#" class="card-year">[Date]</a>
                </li>
                <li>
                  <a href="#" class="card-category">[Genre]</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" data-sr-item="online-streaming">
        <div class="card flq-card-blog">
          <div class="card-img-wrap">
            <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
              <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-1-390x440.jpg' %}" alt="" /></span>
              {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">7.2</span> {% endcomment %}
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title h6"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
            <div class="flq-meta flq-meta-sm">
              <ul>
                <li>
                  <a href="#" class="card-year">[Date]</a>
                </li>
                <li>
                  <a href="#" class="card-category">[Genre]</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" data-sr-item="online-streaming">
        <div class="card flq-card-blog">
          <div class="card-img-wrap">
            <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">
              <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-1-390x440.jpg' %}" alt="" /></span>
              {% comment %} <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">7.2</span> {% endcomment %}
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title h6"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
            <div class="flq-meta flq-meta-sm">
              <ul>
                <li>
                  <a href="#" class="card-year">[Date]</a>
                </li>
                <li>
                  <a href="#" class="card-category">[Genre]</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" data-sr-item="online-streaming">
        <div class="card flq-card-blog">
          <div class="card-img-wrap">
            <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}"><span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-1-390x440.jpg' %}" alt="" /></span></a>
          </div>
          <div class="card-body">
            <h5 class="card-title h6"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
            <div class="flq-meta flq-meta-sm">
              <ul>
                <li>
                  <a href="#" class="card-year">[Date]</a>
                </li>
                <li>
                  <a href="#" class="card-category">[Genre]</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" data-sr-item="online-streaming">
        <div class="card flq-card-blog">
          <div class="card-img-wrap">
            <a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}"><span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4"><img src="{% static 'assets/images/tv-shows/show-1-390x440.jpg' %}" alt="" /></span></a>
          </div>
          <div class="card-body">
            <h5 class="card-title h6"><a href="{% if data.name %}{% url 'single_movie' name=data.name %}{% else %}#{% endif %}">[Titre du film]</a></h5>
            <div class="flq-meta flq-meta-sm">
              <ul>
                <li>
                  <a href="#" class="card-year">[Date]</a>
                </li>
                <li>
                  <a href="#" class="card-category">[Genre]</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5" data-sr-item="online-streaming">
      <a href="{% url 'movies' %}" class="btn">Parcourir tout</a>
    </div>
  </div>
  <div class="py-7" style="
      background-image: linear-gradient(
      95.92deg,
      hsl(355, 59%, 57%) 0%,  /* --flq-color-brand (inchangé) */
      hsl(228, 60%, 20%) 49.13%,  /* Nouvelle couleur pour le milieu */
      hsl(210, 50%, 15%) 100%  /* Nouvelle couleur pour la fin */
    );
  ">
    <div class="container text-center my-6" data-sr="start-30-days" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
      <h1 class="display-1 mb-4" data-sr-item="start-30-days">Disponible sur le Web,<br />iOS et Android.</h1>
      <div class="row justify-content-center g-3">
        <div class="col-12 col-sm-auto" data-sr-item="start-30-days">
          <a href="#" class="btn btn-block btn-black btn-glass btn-icon-xl">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.0728 5.4325C14.9798 5.5048 13.348 6.424 13.348 8.4689C13.348 10.834 15.4239 11.6706 15.4859 11.6912C15.4756 11.7428 15.1554 12.8376 14.3911 13.953C13.7095 14.9342 12.9968 15.9153 11.9124 15.9153C10.828 15.9153 10.5491 15.2853 9.29942 15.2853C8.08072 15.2853 7.64692 15.936 6.65542 15.936C5.66392 15.936 4.97192 15.0271 4.17672 13.9117C3.25752 12.6 2.51392 10.5654 2.51392 8.6341C2.51392 5.5357 4.52792 3.8935 6.51082 3.8935C7.56432 3.8935 8.44212 4.5855 9.10312 4.5855C9.73312 4.5855 10.7143 3.8522 11.9123 3.8522C12.3668 3.8523 13.9987 3.8937 15.0728 5.4325ZM11.3444 2.5407C11.8401 1.952 12.1913 1.1361 12.1913 0.3202C12.1913 0.2066 12.181 0.093 12.1603 0C11.3547 0.031 10.3942 0.537101 9.81582 1.2084C9.36142 1.7248 8.93792 2.5407 8.93792 3.367C8.93792 3.4909 8.95862 3.6149 8.96892 3.6562C9.02052 3.6665 9.10322 3.6769 9.18582 3.6769C9.90882 3.6768 10.8176 3.1914 11.3444 2.5407Z" fill="currentColor" />
            </svg>
            <span class="btn-name"><span class="btn-name-subtitle">Télécharger sur</span>App Store</span>
          </a>
        </div>
        <div class="col-12 col-sm-auto" data-sr-item="start-30-days">
          <a href="#" class="btn btn-block btn-black btn-glass btn-icon-xl">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7271 6.75078L10.3389 9.00003L12.727 11.2492L14.8516 10.0691C15.7161 9.5889 15.7161 8.41106 14.8516 7.93087L12.7271 6.75078ZM12.0758 6.38901L9.82125 8.51243L3.11301 2.19429C3.5067 1.96008 4.02839 1.91908 4.48726 2.17396L12.0758 6.38901ZM2.62535 2.71016C2.54549 2.86887 2.5 3.0485 2.5 3.24308V14.7569C2.5 14.9515 2.5455 15.1311 2.62538 15.2899L9.30357 9.00003L2.62535 2.71016ZM3.11307 15.8058C3.50675 16.0399 4.02842 16.0809 4.48726 15.826L12.0757 11.611L9.82125 9.48761L3.11307 15.8058Z" fill="currentColor" />
            </svg>
            <span class="btn-name"><span class="btn-name-subtitle">Disponible sur</span>Google Play</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
