{% extends 'base.html' %}

{% block title %}
  Film Gasy sur Sehatra.com
{% endblock %}

{% load static %}

{% block content %}
  <div class="flq-background py-7">
    <div class="flq-background-ticker">
      <div class="flq-image-ticker mb-3" data-gap="20" data-pixels-per-second="20">
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
      <div class="flq-image-ticker" data-gap="20" data-pixels-per-second="20" data-inverted>
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/18.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.8);"></div>
    <div class="container text-center" data-sr="banner-text" data-sr-interval="100" data-sr-distance="10" data-sr-duration="1000">
      <h1 class="display-5 mb-1" data-sr-item="banner-text">Nos Films Gasy</h1>
      <nav aria-label="breadcrumb" data-sr-item="banner-text">
        <ol class="breadcrumb flq-color-opacity">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Accueil</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Films</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-wrap">
    <div class="py-7">
      <div class="container flq-isotope">
        <nav>
          <ul class="nav nav-tabs flq-isotope-options justify-content-center text-center mb-5" data-sr="movie-options" data-sr-interval="80" data-sr-duration="1000" data-sr-distance="10">
            <li class="nav-item" data-sr-item="movie-options">
              <a href="#" data-filter="all" class="nav-link active"><span class="nav-link-name">Tout</span></a>
            </li>
            <li class="nav-item" data-sr-item="movie-options">
              <a href="#" data-filter="action" class="nav-link"><span class="nav-link-name">{Genre}</span></a>
            </li>
          </ul>
        </nav>
        <div class="row gy-4 justify-content-center flq-isotope-grid" data-isotope-layout="fitRows" data-sr="movies-item" data-sr-interval="80" data-sr-duration="1000" data-sr-distance="10">
          <div class="col-12 col-lg-6 col-xl-4 flq-isotope-item" data-filters="action">
            <div data-sr-item="movies-item">
              <a href="{% url 'single_movie' name='single-movie-name' %}" class="card flq-card-movie flq-color-opacity">
                <span class="card-img-wrap">
                  <span class="flq-image flq-responsive flq-responsive-lg-1x1">
                    <img src="{% static 'assets/images/movies/movie-1-1290x1290.jpg' %}" alt="" />
                  </span>
                </span>
                <span class="card-body">
                  <span class="card-badge">
                    <svg width="43" height="22" viewBox="0 0 43 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    </svg>
                  </span>
                  <span class="card-title h5">{Exemple titre}</span>
                  <span class="card-description"><span>{On a journey to find the cure for a Tatarigami&#39;s curse, Ashitaka finds himself in the middle of a war between...}</span></span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4 flq-isotope-item" data-filters="action">
            <div data-sr-item="movies-item">
              <a href="{% url 'single_movie' name='single-movie-name' %}" class="card flq-card-movie flq-color-opacity">
                <span class="card-img-wrap">
                  <span class="flq-image flq-responsive flq-responsive-lg-1x1">
                    <img src="{% static 'assets/images/movies/movie-1-1290x1290.jpg' %}" alt="" />
                  </span>
                </span>
                <span class="card-body">
                  <span class="card-badge">
                    <svg width="43" height="22" viewBox="0 0 43 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    </svg>
                  </span>
                  <span class="card-title h5">{Exemple titre}</span>
                  <span class="card-description"><span>{On a journey to find the cure for a Tatarigami&#39;s curse, Ashitaka finds himself in the middle of a war between...}</span></span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4 flq-isotope-item" data-filters="action">
            <div data-sr-item="movies-item">
              <a href="{% url 'single_movie' name='single-movie-name' %}" class="card flq-card-movie flq-color-opacity">
                <span class="card-img-wrap"><span class="flq-image flq-responsive flq-responsive-lg-1x1"><img src="{% static 'assets/images/movies/movie-1-1290x1290.jpg' %}" alt="" /></span></span>
                <span class="card-body">
                  <span class="card-badge">
                    <svg width="43" height="22" viewBox="0 0 43 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    </svg>
                  </span>
                  <span class="card-title h5">{Exemple titre}</span>
                  <span class="card-description"><span>{On a journey to find the cure for a Tatarigami&#39;s curse, Ashitaka finds himself in the middle of a war between...}</span></span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-12 col-lg-6 flq-isotope-item" data-filters="documentary">
            <div data-sr-item="movies-item">
              <a href="{% url 'single_movie' name='single-movie-name' %}" class="card flq-card-movie flq-color-opacity">
                <span class="card-img-wrap"><span class="flq-image flq-responsive flq-responsive-lg-1x1 flq-responsive-xl-16x9"><img src="{% static 'assets/images/movies/movie-2-1290x1290.jpg' %}" alt="" /></span></span>
                <span class="card-body">
                  <span class="card-badge">
                  </span>
                  <span class="card-title h5">[titre du film]</span>
                  <span class="card-description"><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, aspernatur! Fugit error, accusantium nihil aut mollitia atque? Reprehenderit voluptates a perspiciatis. Ipsam facilis illo voluptate exercitationem corporis quis quisquam culpa?</span></span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-12 col-lg-6 flq-isotope-item" data-filters="documentary">
            <div data-sr-item="movies-item">
              <a href="{% url 'single_movie' name='single-movie-name' %}" class="card flq-card-movie flq-color-opacity">
                <span class="card-img-wrap"><span class="flq-image flq-responsive flq-responsive-lg-1x1 flq-responsive-xl-16x9"><img src="{% static 'assets/images/movies/movie-2-1290x1290.jpg' %}" alt="" /></span></span>
                <span class="card-body">
                  <span class="card-badge">
                  </span>
                  <span class="card-title h5">[titre du film]</span>
                  <span class="card-description"><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis dolorum nam architecto delectus maiores, aut totam id, similique animi voluptas ipsa vel nostrum, autem quibusdam molestias vero unde eum ab.</span></span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <nav class="text-center mt-5">
          <ul class="pagination" data-sr="pagination" data-sr-interval="80" data-sr-duration="1000" data-sr-distance="10">
            <li class="page-item" data-sr-item="pagination">
              <a class="page-link page-link-prev" href="#">
                Précédent<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
            <li class="page-item active" data-sr-item="pagination">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item" data-sr-item="pagination">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item" data-sr-item="pagination">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item" data-sr-item="pagination">
              <a class="page-link page-link-next" href="#">
                Suivant<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}
