{% extends 'base.html' %}

{% block title %}
  Abonnement - Sehatra.com
{% endblock %}

{% load static %}

{% block content %}
  <div class="flq-background py-7">
    <div class="flq-background-ticker">
      <div class="flq-image-ticker mb-3" data-gap="20" data-pixels-per-second="20">
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/240x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/240x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/240x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
      <div class="flq-image-ticker" data-gap="20" data-pixels-per-second="20" data-inverted>
        <div class="flq-image-ticker-inner">
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/240x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/240x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/240x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
          <div class="flq-image-ticker-item">
            <span class="flq-image"><img src="{% static 'assets/images/background-ticker/540x360.jpg' %}" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.8);"></div>
    <div class="container text-center" data-sr="banner-text" data-sr-interval="100" data-sr-distance="10" data-sr-duration="1000">
      <h1 class="display-6 display-md-5 display-lg-4 mb-1" data-sr-item="banner-text">Abonnement</h1>
      <nav aria-label="breadcrumb" data-sr-item="banner-text">
        <ol class="breadcrumb flq-color-opacity">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Accueil</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Abonnement</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-wrap">
    <div class="py-7 flq-background-color-100" style="background-image: radial-gradient(100% 100% at 50% 0%, hsla(var(--flq-color-brand), 0.14) 25%, hsla(var(--flq-color-background), 0) 100%);">
      <div class="container" data-sr="pricing" data-sr-interval="150" data-sr-duration="1200" data-sr-distance="30">
        <div class="row align-items-center justify-content-center g-5">
          <!-- Carte 1 mois -->
          <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4" data-sr-item="pricing">
            <div class="card flq-card-pricing">
              <div class="card-head">
                <div class="card-subtitle h6">Plan de 1 mois :</div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <br /><br />
                  <div class="card-price h3">
                    <span>€</span>9.99<span>mois</span>
                  </div>
                  <div class="card-price h3">
                    <span>Ar</span>50,000<span>mois</span>
                  </div>
                </div>
              </div>
              <div class="card-body flq-vertical-rhythm">
                <p>Profitez du streaming 4K sur tous vos appareils avec une connexion sécurisée. Accédez aux flux en direct disponibles 7j/7.</p>
                <ul>
                  <li>Flux en direct 4K</li>
                  <li>Accès aux films et lives</li>
                  <li>Connexion sécurisée</li>
                </ul>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-block btn-outline btn-brand-hover">Obtenir l'offre</a>
              </div>
            </div>
          </div>
          <!-- Carte 12 mois -->
          <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4" data-sr-item="pricing">
            <div class="card flq-card-pricing">
              <div class="card-head">
                <div class="card-subtitle h6">Plan de 12 mois :</div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <br /><br />
                  <div class="card-price h3">
                    <span>€</span>3.99<span>mois</span>
                  </div>
                  <div class="card-price h3">
                    <span>Ar</span>20,000<span>mois</span>
                  </div>
                </div>
              </div>
              <div class="card-body flq-vertical-rhythm">
                <p>Profitez d'un accès complet à tous les flux en direct pendant un an, avec des tarifs avantageux pour un engagement à long terme.</p>
                <ul>
                  <li>Flux en direct 4K</li>
                  <li>Accès aux films et lives</li>
                  <li>Connexion sécurisée</li>
                  <li>Planification facile</li>
                </ul>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-block">Obtenir l'offre</a>
              </div>
            </div>
          </div>
          <!-- Carte 6 mois -->
          <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4" data-sr-item="pricing">
            <div class="card flq-card-pricing">
              <div class="card-head">
                <div class="card-subtitle h6">Plan de 6 mois :</div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <br /><br />
                  <div class="card-price h3">
                    <span>€</span>6.99<span>mois</span>
                  </div>
                  <div class="card-price h3">
                    <span>Ar</span>35,000<span>mois</span>
                  </div>
                </div>
              </div>
              <div class="card-body flq-vertical-rhythm">
                <p>Profitez de notre service avec un engagement de 6 mois, incluant toutes les fonctionnalités de streaming et une connexion sécurisée.</p>
                <ul>
                  <li>Flux en direct 4K</li>
                  <li>Accès aux films et lives</li>
                  <li>Connexion sécurisée</li>
                </ul>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-block btn-outline btn-brand-hover">Obtenir l'offre</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-7">
      <div class="container">
        <div class="accordion" data-sr="accordion" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
          <!-- Question 1 -->
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1" aria-expanded="true" aria-controls="faq-1">Quels sont les avantages du plan de 12 mois ? <span class="accordion-button-icon"></span></button></h2>
            <div id="faq-1" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <p>Le plan de 12 mois vous offre un accès complet à tous les flux en direct pour une année entière, avec un tarif réduit. Il inclut également toutes les fonctionnalités disponibles dans les autres plans, telles que le streaming 4K, l'accès aux films et lives, et une connexion sécurisée.</p>
              </div>
            </div>
          </div>
          <!-- Question 2 -->
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2" aria-expanded="false" aria-controls="faq-2">Que comprend le plan de 6 mois ? <span class="accordion-button-icon"></span></button></h2>
            <div id="faq-2" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Le plan de 6 mois vous permet de profiter de toutes les fonctionnalités de notre service de streaming pendant une période de six mois. Cela inclut le streaming en haute qualité, l'accès aux films et aux flux en direct, ainsi qu'une connexion sécurisée.</p>
              </div>
            </div>
          </div>
          <!-- Question 3 -->
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-3" aria-expanded="false" aria-controls="faq-3">Quels sont les bénéfices du plan de 1 mois ? <span class="accordion-button-icon"></span></button></h2>
            <div id="faq-3" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Le plan de 1 mois vous permet de tester notre service avec une flexibilité maximale. Vous bénéficierez du streaming 4K, de l'accès aux films et aux flux en direct, ainsi que d'une connexion sécurisée pour une période d'un mois.</p>
              </div>
            </div>
          </div>
          <!-- Question 4 -->
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-4" aria-expanded="false" aria-controls="faq-4">Comment puis-je annuler mon abonnement ? <span class="accordion-button-icon"></span></button></h2>
            <div id="faq-4" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Pour annuler votre abonnement, veuillez vous rendre dans votre espace personnel sur notre site web et suivre les instructions pour l'annulation. Vous recevrez une confirmation par e-mail une fois l'annulation effectuée.</p>
              </div>
            </div>
          </div>
          <!-- Question 5 -->
          <div class="accordion-item" data-sr-item="accordion">
            <h2 class="accordion-header h5"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-5" aria-expanded="false" aria-controls="faq-5">Puis-je passer d'un plan à un autre en cours de période ? <span class="accordion-button-icon"></span></button></h2>
            <div id="faq-5" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Oui, vous pouvez passer d'un plan à un autre en cours de période. Les frais seront ajustés en fonction du plan que vous choisissez. Pour ce faire, veuillez contacter notre service client pour obtenir de l'aide.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flq-background-color-100">
      <div class="container-small">
        <div class="row gx-0 justify-content-center">
          <div class="col-12 col-lg-10 col-xl">
            <div class="py-7 flq-vertical-rhythm" data-sr="contact-form" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
              <h2 class="h1" data-sr-item="contact-form">Vous avez encore des questions concernant l'abonnement ?</h2>
              <p data-sr-item="contact-form">N'hésitez pas à nous contacter pour toute question ou demande d'information supplémentaire. Nous sommes là pour vous aider et nous nous ferons un plaisir de répondre à toutes vos interrogations.</p>
              <div class="flq-social" data-sr-item="contact-form">
                <ul class="g-4">
                  <li>
                    <a href="https://www.facebook.com/sehatracom" target="_blank" class="flq-social-link"><i class="fa-brands fa-facebook" style="width: 20px; height: 20px; font-size: 20px; display: inline-block;"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/sehatra/" target="_blank" class="flq-social-link"><i class="fa-brands fa-instagram" style="width: 20px; height: 20px; font-size: 20px; display: inline-block;"></i></a>
                  </li>
                </ul>
              </div>
              <form class="mt-6" action="#">
                <div class="row gy-4">
                  <div class="col-12 col-sm" data-sr-item="contact-form">
                    <input class="form-control flq-form-user form-control-lg" type="text" placeholder="Votre nom" />
                  </div>
                  <div class="col-12 col-sm" data-sr-item="contact-form">
                    <input class="form-control flq-form-mail form-control-lg" type="email" placeholder="Votre email" />
                  </div>
                  <div class="col-12" data-sr-item="contact-form">
                    <textarea class="form-control flq-form-message form-control-lg" rows="5" placeholder="Votre message"></textarea>
                  </div>
                  <div class="col-12" data-sr-item="contact-form">
                    <button class="btn btn-primary btn-lg w-100" type="submit">Envoyer le message&nbsp;&nbsp;<i class="fa-solid fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
