{% extends 'base.html' %}

{% block title %}
Conditions Générales d'Utilisation - Sehatra.com
{% endblock %}

{% load static %}

{% block content %}
  <!-- BANNER -->
  <div class="section banner-page" style="margin-top: 50px;">
    <div class="content-wrap pos-relative">
      <div class="d-flex justify-content-center bd-highlight mb-2">
        <div class="flq-subtitle badge badge-white badge-glass badge-translucent" data-sr-item="features">SEHATRA.COM</div>
      </div>
      <div class="d-flex justify-content-center bd-highlight mb-2">
        <nav aria-label="breadcrumb">
          <h2 class="text-center">Conditions générales d'utilisation</h2>
        </nav>
      </div>
    </div>
  </div>

  <!-- INTRODUCTION -->
  <div class="container my-4">
    <p>Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à disposition du site et des services par Sehatra.com et de définir les conditions d’accès et d’utilisation des services par « l'Utilisateur ». Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU par l’utilisateur.</p>
  </div>

  <!-- FAQ ACCORDION -->
  <div class="py-4">
    <div class="container">
      <div class="accordion" id="faqAccordion">
        <!-- Article 1 -->
        <div class="accordion-item">
          <h2 class="accordion-header h4"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#article-1" aria-expanded="true" aria-controls="article-1">ARTICLE 1 : Accès au site <span class="accordion-button-icon"></span></button></h2>
          <div id="article-1" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <p>Le site Sehatra.com permet à l'Utilisateur un accès gratuit aux services suivants :</p>
              <p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p>
              <p>L’Utilisateur non membre n'a pas accès aux services réservés. Pour cela, il doit s’inscrire en remplissant le formulaire. En acceptant de s’inscrire aux services réservés, l’Utilisateur membre s’engage à fournir des informations sincères et exactes concernant son prénom ou pseudo, notamment son adresse email.</p>
              <p>Pour accéder aux services, l’Utilisateur doit ensuite s'identifier à l'aide de son identifiant et de son mot de passe qui lui seront communiqués après son inscription.</p>
              <p>Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel. Celle-ci sera effective dans un délai raisonnable.</p>
              <p>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité de Sehatra.com. Dans ces cas, l’Utilisateur accepte ainsi ne pas tenir rigueur à l’éditeur de toute interruption ou suspension de service, même sans préavis.</p>
            </div>
          </div>
        </div>
        <!-- Article 2 -->
        <div class="accordion-item">
          <h2 class="accordion-header h4"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#article-2" aria-expanded="false" aria-controls="article-2">ARTICLE 2 : Propriété intellectuelle <span class="accordion-button-icon"></span></button></h2>
          <div id="article-2" class="accordion-collapse collapse">
            <div class="accordion-body">
              <p>Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.</p>
              <p>L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé, toute utilisation à des fins commerciales et publicitaires est strictement interdite.</p>
              <p>Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par la loi en vigueur.</p>
            </div>
          </div>
        </div>
        <!-- Article 3 -->
        <div class="accordion-item">
          <h2 class="accordion-header h4"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#article-3" aria-expanded="false" aria-controls="article-3">ARTICLE 3 : Responsabilité <span class="accordion-button-icon"></span></button></h2>
          <div id="article-3" class="accordion-collapse collapse">
            <div class="accordion-body">
              <p>Les sources des informations diffusées sur le site Sehatra.com sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p>
              <p>Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site Sehatra.com ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenu responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.</p>
              <p>L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l'utilisation de son identifiant et mot de passe. Le site décline toute responsabilité.</p>
              <p>Le site Sehatra.com ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au téléchargement provenant de ce site.</p>
              <p>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
